.tecspark-main {
  &-form{
    padding: 50px;
    border-radius: 18px;
    @include max(991px) {
      margin-top: 40px;
      padding: 30px;
      border-radius: 15px;
    }
    h3{
      font-size: 24px;
      margin-bottom: 7px;
    }
  }
  &-field{
    margin-bottom: 24px;
  }
  
}

button#tecspark-main-form-btn{
  width: 100%;
  display: block;
  text-align: center;
}

//


// End footer form

.tecspark-contact-info-column{
  margin-top: 60px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--light-color1);
  @include max(1199px) {
    gap: 30px;
  }
  @include max(991px) {
    margin-top: 40px;
    justify-content: center;
  }
  
  @include max(767px) {
    gap: 40px;
  }
  .tecspark-contact-info{
    margin-bottom: 0;
    @include max(991px) {
      i{
        margin: 0 auto 20px;
      }
    }
  }
}