{% extends "layout/layout.html" %}
{% set page_title = "Blog Grid" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="tecspark-breadcrumb" style="background-image: url(assets/images/breadcrumb/breadcrumb.png)">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section tecspark-section-padding tecspark-blog-grid">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-blog-wrap">
          <a href="single-blog.html">
            <div class="tecspark-blog-thumb">
              <img src="assets/images/blog/blog6.png" alt="">
            </div>
          </a>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h4>Planning your online business goals with a specialist</h4></a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-blog-wrap">
          <a href="single-blog.html">
            <div class="tecspark-blog-thumb">
              <img src="assets/images/blog/blog7.png" alt="">
            </div>
          </a>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h4>Boost your startup business with our digital agency</h4></a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-blog-wrap">
          <a href="single-blog.html">
            <div class="tecspark-blog-thumb">
              <img src="assets/images/blog/blog8.png" alt="">
            </div>
          </a>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h4>Proactive customer experience in the business</h4></a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-blog-wrap">
          <a href="single-blog.html">
            <div class="tecspark-blog-thumb">
              <img src="assets/images/blog/blog9.png" alt="">
            </div>
          </a>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h4>The importance of a strong digital for strategy</h4></a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-blog-wrap">
          <a href="single-blog.html">
            <div class="tecspark-blog-thumb">
              <img src="assets/images/blog/blog10.png" alt="">
            </div>
          </a>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h4>Technology support allows erie non-profit to serve</h4></a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-blog-wrap">
          <a href="single-blog.html">
            <div class="tecspark-blog-thumb">
              <img src="assets/images/blog/blog11.png" alt="">
            </div>
          </a>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h4>The act of knowledge & the act of design thinking</h4></a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-blog-wrap">
          <a href="single-blog.html">
            <div class="tecspark-blog-thumb">
              <img src="assets/images/blog/blog12.png" alt="">
            </div>
          </a>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h4>Core on web vitals, a smas magazine case study</h4></a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-blog-wrap">
          <a href="single-blog.html">
            <div class="tecspark-blog-thumb">
              <img src="assets/images/blog/blog13.png" alt="">
            </div>
          </a>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h4>Data backup and recovery best practices small</h4></a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-blog-wrap">
          <a href="single-blog.html">
            <div class="tecspark-blog-thumb">
              <img src="assets/images/blog/blog14.png" alt="">
            </div>
          </a>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h4>Market insights to manage people related costs</h4></a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="tecspark-navigation">
      <nav class="navigation pagination center" aria-label="Posts">
        <div class="nav-links">
          <a class="next page-numbers" href="">
            <i class="ri-arrow-left-s-line"></i>
          </a>
          <span aria-current="page" class="page-numbers current">1</span>
          <a class="page-numbers" href="">2</a>
          <a class="page-numbers" href="">3</a>
          <a class="next page-numbers" href="">
            <i class="ri-arrow-right-s-line"></i>
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- End section -->



{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
