{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="tecspark-hero-section6">
  <div class="tecspark-hero-slider global-carousel">
    <div class="tecspark-hero-slider-item animated" data-animation-in="zoomInImage" style="background-image: url(assets/images/hero/hero-bg3.png)">
      <div class="container">
        <div class="tecspark-hero-content center sm">
          <div class="animated">
            <h5 class="slider-animated" data-ani="slider-custom-anim-left" data-ani-delay="0.1s">We provide professional IT services</h5>
            <h1 class="slider-animated" data-ani="slider-custom-anim-left" data-ani-delay="0.2s">Affordable big IT & technology solutions</h1>
          </div>
          <div class="tecspark-extra-mt animated" data-animation-in="fadeInUp" data-delay-in="0.3">
            <a class="tecspark-default-btn" href="contact-us.html">Work With Us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tecspark-hero-slider-item animated" data-animation-in="zoomInImage" style="background-image: url(assets/images/hero/hero-bg2.png)">
      <div class="container">
        <div class="tecspark-hero-content center sm">
          <div class="animated">
            <h5 data-ani="slider-custom-anim-left" data-ani-delay="0.1s">We provide professional IT services</h5>
            <h1 data-ani="slider-custom-anim-left" data-ani-delay="0.2s">Software crafting for digital success</h1>
          </div>
          <div class="tecspark-extra-mt animated" data-animation-in="fadeInUp" data-delay-in="0.3">
            <a class="tecspark-default-btn" href="contact-us.html">Work With Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section large-padding-tb overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="tecspark-thumb extra-mr">
          <img src="assets/images/v2/thumb1.png" alt="">
          <div class="tecspark-thumb-position">
            <img src="assets/images/v2/thumb2.png" alt="">
          </div>
          <div class="tecspark-shape1">
            <img src="assets/images/shape/shape1.png" alt="">
          </div>
          <div class="tecspark-shape2">
            <img src="assets/images/shape/shape2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tecspark-default-content ml40">
          <h2>Exclusive technology to provide IT solutions</h2>
          <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few clicks. Each demo built with Teba will look different.</p>
          <div class="tecspark-icon-list">
            <ul>
              <li><i class="ri-check-line"></i>Easily Build Custom Reports And Dashboards</li>
              <li><i class="ri-check-line"></i>Legacy Software Modernization</li>
              <li><i class="ri-check-line"></i>Software For The Open Enterprise</li>
            </ul>
          </div>
          <div class="tecspark-extra-mt">
            <a class="tecspark-default-btn" href="about-us.html">More About Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="sectin bg-light1 tecspark-section-padding">
  <div class="container">
    <div class="tecspark-section-title center">
      <h2>Our awesome services to give you success</h2>
    </div>
    <div class="tecspark-4column-slider2">
      <div class="tecspark-iconbox-wrap">
        <div class="tecspark-iconbox-icon">
          <img src="assets/images/iconbox/icon4.png" alt="">
        </div>
        <div class="tecspark-iconbox-data">
          <h5>Data Tracking <br> Security</h5>
          <p>Developing a comprehensive IT strategy that aligns.</p>
          <a class="tecspark-icon-btn" href="single-service.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
        </div>
      </div>
      <div class="tecspark-iconbox-wrap">
        <div class="tecspark-iconbox-icon">
          <img src="assets/images/iconbox/icon5.png" alt="">
        </div>
        <div class="tecspark-iconbox-data">
          <h5>Web & Mobile App <br> Development</h5>
          <p>Developing a comprehensive IT strategy that aligns.</p>
          <a class="tecspark-icon-btn" href="single-service.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
        </div>
      </div>
      <div class="tecspark-iconbox-wrap">
        <div class="tecspark-iconbox-icon">
          <img src="assets/images/iconbox/icon6.png" alt="">
        </div>
        <div class="tecspark-iconbox-data">
          <h5> IT Management <br> Service</h5>
          <p>Developing a comprehensive IT strategy that aligns.</p>
          <a class="tecspark-icon-btn" href="single-service.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
        </div>
      </div>
      <div class="tecspark-iconbox-wrap">
        <div class="tecspark-iconbox-icon">
          <img src="assets/images/iconbox/icon7.png" alt="">
        </div>
        <div class="tecspark-iconbox-data">
          <h5>UI/UX & Branding <br> Identity</h5>
          <p>Developing a comprehensive IT strategy that aligns.</p>
          <a class="tecspark-icon-btn" href="single-service.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
        </div>
      </div>
      <div class="tecspark-iconbox-wrap">
        <div class="tecspark-iconbox-icon">
          <img src="assets/images/iconbox/icon8.png" alt="">
        </div>
        <div class="tecspark-iconbox-data">
          <h5>Digital Marketing <br> Services</h5>
          <p>Developing a comprehensive IT strategy that aligns.</p>
          <a class="tecspark-icon-btn" href="single-service.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
        </div>
      </div>
      <div class="tecspark-iconbox-wrap">
        <div class="tecspark-iconbox-icon">
          <img src="assets/images/iconbox/icon6.png" alt="">
        </div>
        <div class="tecspark-iconbox-data">
          <h5>Web & Mobile App <br> Development</h5>
          <p>Developing a comprehensive IT strategy that aligns.</p>
          <a class="tecspark-icon-btn" href="single-service.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- End section -->

<div class="section tecspark-section-padding">
  <div class="container">
    <div class="tecspark-section-title center">
      <h2>Explore our recent projects</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-portfolio-wrap">
          <div class="tecspark-portfolio-thumb">
            <img src="assets/images/p1/p1.png" alt="">
            <a class="tecspark-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            <div class="tecspark-portfolio-data">
              <a href="single-portfolio.html"><h4>Digital Product Design</h4></a>
              <p>Design, Graphics</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-portfolio-wrap">
          <div class="tecspark-portfolio-thumb">
            <img src="assets/images/p1/p2.png" alt="">
            <a class="tecspark-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            <div class="tecspark-portfolio-data">
              <a href="single-portfolio.html"><h4>Cyber Security Analysis</h4></a>
              <p>Security, Technology</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-portfolio-wrap">
          <div class="tecspark-portfolio-thumb">
            <img src="assets/images/p1/p3.png" alt="">
            <a class="tecspark-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            <div class="tecspark-portfolio-data">
              <a href="single-portfolio.html"><h4>Health App Development</h4></a>
              <p>Development, Software</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-portfolio-wrap">
          <div class="tecspark-portfolio-thumb">
            <img src="assets/images/p1/p4.png" alt="">
            <a class="tecspark-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            <div class="tecspark-portfolio-data">
              <a href="single-portfolio.html"><h4>Marketing Agency Website</h4></a>
              <p>Development, Marketing</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="tecspark-portfolio-wrap">
          <div class="tecspark-portfolio-thumb">
            <img src="assets/images/p1/p5.png" alt="">
            <a class="tecspark-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            <div class="tecspark-portfolio-data">
              <a href="single-portfolio.html"><h4>Project for Marketing</h4></a>
              <p>Marketing, Business</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tecspark-center-btn">
        <a class="tecspark-default-btn" href="portfolio-01.html">View Our All Works</a>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding bg-light1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tecspark-default-content mr40">
          <h2>Let’s build an awesome project together</h2>
          <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few clicks. Each demo built with Teba will look different.</p>
          <div class="tecspark-contact-info-column">
            <div class="tecspark-contact-info">
              <i class="ri-map-pin-2-fill"></i>
              <h5>Address</h5>
              <p>1791 Yorkshire Circle Kitty<br>
                Hawk, NC 279499</p>
            </div>
            <div class="tecspark-contact-info">
              <i class="ri-mail-fill"></i>
              <h5>Contact</h5>
              <a href="mailto:name@email.com">info@mthemeus.com</a>
              <a href="tel:123">518-564-3200</a>
            </div>
          </div>
          Office Hours: Mon – Sat: 8:00 AM – 10:00 PM
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tecspark-main-form bg-white ml60">
          <h3>Fill The Contact Form</h3>
          <p>Feel free to contact with us, we don’t spam your email</p>
          <form action="#">
            <div class="row">
              <div class="col-lg-6">
                <div class="tecspark-main-field">
                  <input type="text" placeholder="Your name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tecspark-main-field">
                  <input type="number" placeholder="Phone number">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="tecspark-main-field">
                  <input type="email" placeholder="Email address">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="tecspark-main-field">
                  <textarea name="textarea" placeholder="Write your message"></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <button id="tecspark-main-form-btn" type="button">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding">
  <div class="container">
    <div class="tecspark-section-title center">
      <h2>Our expert team is always ready to help you</h2>
    </div>
  </div>
  <div class="tecspark-4column-slider">
    <div class="tecspark-team-wrap border_all mb-0">
      <div class="tecspark-team-thumb">
        <img src="assets/images/team/team5.png" alt="">
        <div class="tecspark-social-icon-box style-three position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tecspark-team-data">
        <a href="single-team.html"><h5>Barbara Dundas</h5></a>
        <p>Digital Marketer</p>
      </div>
    </div>
    <div class="tecspark-team-wrap border_all mb-0">
      <div class="tecspark-team-thumb">
        <img src="assets/images/team/team1.png" alt="">
        <div class="tecspark-social-icon-box style-three position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tecspark-team-data">
        <a href="single-team.html"><h5>Marvin McKinney</h5></a>
        <p>CEO & Founder</p>
      </div>
    </div>
    <div class="tecspark-team-wrap border_all mb-0">
      <div class="tecspark-team-thumb">
        <img src="assets/images/team/team2.png" alt="">
        <div class="tecspark-social-icon-box style-three position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tecspark-team-data">
        <a href="single-team.html"><h5>Sophia Rodriguez</h5></a>
        <p>Creative Director</p>
      </div>
    </div>
    <div class="tecspark-team-wrap border_all mb-0">
      <div class="tecspark-team-thumb">
        <img src="assets/images/team/team3.png" alt="">
        <div class="tecspark-social-icon-box style-three position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tecspark-team-data">
        <a href="single-team.html"><h5>Marvin McKinney</h5></a>
        <p>Lead Developer</p>
      </div>
    </div>
    <div class="tecspark-team-wrap border_all mb-0">
      <div class="tecspark-team-thumb">
        <img src="assets/images/team/team4.png" alt="">
        <div class="tecspark-social-icon-box style-three position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tecspark-team-data">
        <a href="single-team.html"><h5>Alexander Cameron</h5></a>
        <p>Product Designer</p>
      </div>
    </div>
    <div class="tecspark-team-wrap border_all mb-0">
      <div class="tecspark-team-thumb">
        <img src="assets/images/team/team6.png" alt="">
        <div class="tecspark-social-icon-box style-three position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tecspark-team-data">
        <a href="single-team.html"><h5>Zachary Collins</h5></a>
        <p>Cyber Specialist</p>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-cover tecspark-section-padding" style="background-image: url(assets/images/cta/cta-bg2.png)">
  <div class="container">
    <div class="tecspark-cta-wrap">
      <div class="tecspark-cta-content center">
        <h2>Let’s work together</h2>
        <p>Each demo built with Teba will look different. You can customize anything appearance of your website with only a few clicks</p>
        <div class="tecspark-extra-mt">
          <a class="tecspark-default-btn hover-white" href="contact-us.html">Let’s Start a Project</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding2 bg-light1">
  <div class="container">
    <div class="tecspark-section-title">
      <div class="row">
        <div class="col-xxl-5 col-lg-7">
          <h2>Recent blog & articles about technology</h2>
        </div>
        <div class="col-xxl-7 col-lg-5 d-flex align-items-center justify-content-end">
          <div class="tecspark-title-btn">
            <a class="tecspark-default-btn" href="blog.html">View All Posts</a>
          </div>
        </div>
      </div>
    </div>
   <div class="row">
    <div class="col-xl-4 col-md-6">
      <div class="tecspark-blog-wrap border-0 bg-white">
        <a href="single-blog.html">
          <div class="tecspark-blog-thumb">
            <img src="assets/images/blog/blog6.png" alt="">
          </div>
        </a>
        <div class="tecspark-blog-content reduced-padding">
          <div class="tecspark-blog-meta">
            <ul>
              <li><a href="single-blog.html">Technology</a></li>
              <li><a href="single-blog.html">26 June 2023</a></li>
            </ul>
          </div>
          <a href="single-blog.html"><h4>Planning your online business goals with a specialist</h4></a>
          <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="tecspark-blog-wrap border-0 bg-white">
        <a href="single-blog.html">
          <div class="tecspark-blog-thumb">
            <img src="assets/images/blog/blog7.png" alt="">
          </div>
        </a>
        <div class="tecspark-blog-content reduced-padding">
          <div class="tecspark-blog-meta">
            <ul>
              <li><a href="single-blog.html">Technology</a></li>
              <li><a href="single-blog.html">26 June 2023</a></li>
            </ul>
          </div>
          <a href="single-blog.html"><h4>Boost your startup business with our digital agency</h4></a>
          <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="tecspark-blog-wrap border-0 bg-white">
        <a href="single-blog.html">
          <div class="tecspark-blog-thumb">
            <img src="assets/images/blog/blog8.png" alt="">
          </div>
        </a>
        <div class="tecspark-blog-content reduced-padding">
          <div class="tecspark-blog-meta">
            <ul>
              <li><a href="single-blog.html">Technology</a></li>
              <li><a href="single-blog.html">26 June 2023</a></li>
            </ul>
          </div>
          <a href="single-blog.html"><h4>Proactive customer experience in the business</h4></a>
          <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
        </div>
      </div>
    </div>
   </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/footer-six.html" %} 
  
{% endblock %}
