{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-three.html" %} 

<div class="tecspark-hero-section3 bg-cover" style="background-image: url(assets/images/hero/bg2.png)">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="tecspark-hero-content">
          <h1>Delivering tech solutions for your startups</h1>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1 d-flex align-items-center">
        <div class="tecspark-hero-content">
          <p>We transform businesses of most major sectors with powerful and adaptable digital solutions that satisfy the needs of today.</p>
          <div class="tecspark-extra-mt">
            <div class="tecspark-btn-wrap">
              <a class="tecspark-default-btn hover-white" href="contact-us.html">Work With Us</a>
              <a class="tecspark-default-btn tecspark-white-btn" href="service.html">View Services</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tecspark-hero-thumb3">
      <img src="assets/images/hero/hero-thumb2.png" alt="">
    </div>
    <div class="tecspark-brand-section">
      <div class="tecspark-brand-title">
        <p>Empowered professionals to connect with top-tier opportunities</p>
      </div>
      <div class="tecspark-brand-slider">
        <div class="tecspark-brand-slider-item">
          <img src="assets/images/brand/brand1.png" alt="">
        </div>
        <div class="tecspark-brand-slider-item">
          <img src="assets/images/brand/brand2.png" alt="">
        </div>
        <div class="tecspark-brand-slider-item">
          <img src="assets/images/brand/brand3.png" alt="">
        </div>
        <div class="tecspark-brand-slider-item">
          <img src="assets/images/brand/brand4.png" alt="">
        </div>
        <div class="tecspark-brand-slider-item">
          <img src="assets/images/brand/brand5.png" alt="">
        </div>
        <div class="tecspark-brand-slider-item">
          <img src="assets/images/brand/brand3.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding">
  <div class="container">
    <div class="tecspark-section-title center">
      <h2>Our awesome services to give you success</h2>
    </div>
    <div class="tecspark-4column-slider2">
      <div class="tecspark-service-box">
        <div class="tecspark-service-thumb">
          <img src="assets/images/v3/service1.png" alt="">
          <div class="tecspark-service-data">
            <div class="tecspark-service-icon">
              <img src="assets/images/v3/icon1.png" alt="">
            </div>
            <a href="single-service.html"><h5>IT Management <br> Service</h5></a>
          </div>
        </div>
      </div>

      <div class="tecspark-service-box">
        <div class="tecspark-service-thumb">
          <img src="assets/images/v3/service2.png" alt="">
          <div class="tecspark-service-data">
            <div class="tecspark-service-icon">
              <img src="assets/images/v3/icon2.png" alt="">
            </div>
            <a href="single-service.html"><h5>Web & Mobile App <br> Development</h5></a>
          </div>
        </div>
      </div>
      <div class="tecspark-service-box">
        <div class="tecspark-service-thumb">
          <img src="assets/images/v3/service3.png" alt="">
          <div class="tecspark-service-data">
            <div class="tecspark-service-icon">
              <img src="assets/images/v3/icon3.png" alt="">
            </div>
            <a href="single-service.html"><h5>UI/UX & Branding <br> Identity</h5></a>
          </div>
        </div>
      </div>
      <div class="tecspark-service-box">
        <div class="tecspark-service-thumb">
          <img src="assets/images/v3/service4.png" alt="">
          <div class="tecspark-service-data">
            <div class="tecspark-service-icon">
              <img src="assets/images/v3/icon4.png" alt="">
            </div>
            <a href="single-service.html"><h5>Digital Marketing <br> Services</h5></a>
          </div>
        </div>
      </div>
      <div class="tecspark-service-box">
        <div class="tecspark-service-thumb">
          <img src="assets/images/v3/service2.png" alt="">
          <div class="tecspark-service-data">
            <div class="tecspark-service-icon">
              <img src="assets/images/v3/icon2.png" alt="">
            </div>
            <a href="single-service.html"><h5>Web & Mobile App <br> Development</h5></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section large-padding-tb overflow-hidden bg-light1">
  <div class="container">
    <div id="tecspark-counter"></div>
    <div class="row">
      <div class="col-lg-6">
        <div class="tecspark-thumb extra-mr">
          <img src="assets/images/v3/thumb1.png" alt="">
          <div class="tecspark-thumb-position">
            <img src="assets/images/v3/thumb2.png" alt="">
          </div>
          <div class="tecspark-shape1">
            <img src="assets/images/shape/shape1.png" alt="">
          </div>
          <div class="tecspark-shape2">
            <img src="assets/images/shape/shape2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tecspark-default-content ml40">
          <h2>Exclusive technology to provide IT solutions</h2>
          <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few clicks. Each demo built with Teba will look different.</p>
          <div class="tecspark-extra-mt">
            <div class="tecspark-counter-wrap2">
              <div class="tecspark-counter-data">
                <div class="tecspark-counter-number">
                  <span data-percentage="1800" class="tecspark-counter"></span>+
                </div>
                <p>Happy Clients</p>
              </div>
              <div class="tecspark-counter-data">
                <div class="tecspark-counter-number">
                  <span data-percentage="620" class="tecspark-counter"></span>+
                </div>
                <p>Finished Projects</p>
              </div>
            </div>
          </div>
          <div class="tecspark-extra-mt">
            <a class="tecspark-default-btn" href="about-us.html">More About Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section large-padding-tb overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-2">
        <div class="tecspark-thumb extra-ml">
          <img src="assets/images/v3/thumb3.png" alt="">
          <div class="tecspark-thumb-position2">
            <img src="assets/images/v3/thumb4.png" alt="">
          </div>
          <div class="tecspark-shape3">
            <img src="assets/images/shape/shape1.png" alt="">
          </div>
          <div class="tecspark-shape4">
            <img src="assets/images/shape/shape2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tecspark-default-content mr40">
          <h2>Providing IT solutions & services for startups</h2>
          <div class="tecspark-extra-mt">
            <div class="tecspark-iconbox-wrap2">
              <div class="tecspark-iconbox-icon2">
                <img src="assets/images/iconbox/icon10.png" alt="">
              </div>
              <div class="tecspark-iconbox-data2">
                <a href="contact-us.html"><h5>Quality Solution for Business</h5></a>
                <p>Each demo built with Teba will look different. customize almost anything in the appearance of your</p>
              </div>
            </div>
            <div class="tecspark-iconbox-wrap2">
              <div class="tecspark-iconbox-icon2">
                <img src="assets/images/iconbox/icon1.png" alt="">
              </div>
              <div class="tecspark-iconbox-data2">
                <a href="team.html"><h5>Amazing Expert Teams</h5></a>
                <p>Each demo built with Teba will look different. customize almost anything in the appearance of your</p>
              </div>
            </div>
            <div class="tecspark-iconbox-wrap2 mb-0">
              <div class="tecspark-iconbox-icon2">
                <img src="assets/images/iconbox/icon2.png" alt="">
              </div>
              <div class="tecspark-iconbox-data2">
                <a href="contact-us.html"><h5>Urgent Support For Clients</h5></a>
                <p>Each demo built with Teba will look different. customize almost anything in the appearance of your</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding bg-light1">
  <div class="container">
    <div class="tecspark-section-title center">
      <h2>Explore our recent projects</h2>
    </div>
  </div>
  <div class="tecspark-3column-slider">
    <div class="tecspark-portfolio-wrap2">
      <div class="tecspark-portfolio-thumb2">
        <img src="assets/images/p1/p6.png" alt="">
      </div>
      <div class="tecspark-portfolio-data2-wrap">
        <div class="tecspark-portfolio-data2">
          <a href="single-portfolio.html"><h4>Cyber Security Analysis</h4></a>
          <p>Security, Technology</p>
        </div>
        <a class="tecspark-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
      </div>
    </div>
    <div class="tecspark-portfolio-wrap2">
      <div class="tecspark-portfolio-thumb2">
        <img src="assets/images/p1/p7.png" alt="">
      </div>
      <div class="tecspark-portfolio-data2-wrap">
        <div class="tecspark-portfolio-data2">
          <a href="single-portfolio.html"><h4>Digital Product Design</h4></a>
          <p>Design, Graphics</p>
        </div>
        <a class="tecspark-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
      </div>
    </div>
    <div class="tecspark-portfolio-wrap2">
      <div class="tecspark-portfolio-thumb2">
        <img src="assets/images/p1/p8.png" alt="">
      </div>
      <div class="tecspark-portfolio-data2-wrap">
        <div class="tecspark-portfolio-data2">
          <a href="single-portfolio.html"><h4>Health App Development</h4></a>
          <p>Development, Software</p>
        </div>
        <a class="tecspark-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
      </div>
    </div>
    <div class="tecspark-portfolio-wrap2">
      <div class="tecspark-portfolio-thumb2">
        <img src="assets/images/p1/p9.png" alt="">
      </div>
      <div class="tecspark-portfolio-data2-wrap">
        <div class="tecspark-portfolio-data2">
          <a href="single-portfolio.html"><h4>Marketing Agency Website</h4></a>
          <p>Development, Marketing</p>
        </div>
        <a class="tecspark-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding dark-bg">
  <div class="container">
    <div class="tecspark-1column-slider">
      <div class="tecspark-t-box2">
        <div class="tecspark-t-quote2">
          <img src="assets/images/v1/quote.png" alt="">
        </div>
        <div class="tecspark-t-data2">
          <p>“ Working with several word press themes and templates the  years, I only can say this is best in every level. I use it for my company and the reviews that I have already are excellent. only design but the code quality ”</p>
          <div class="tecspark-t-rating2">
            <ul>
              <li><img src="assets/images/v1/rating.png" alt=""></li>
              <li><img src="assets/images/v1/rating.png" alt=""></li>
              <li><img src="assets/images/v1/rating.png" alt=""></li>
              <li><img src="assets/images/v1/rating.png" alt=""></li>
              <li><img src="assets/images/v1/rating.png" alt=""></li>
            </ul>
          </div>
          <h5>Brooklyn Simmons</h5>
          <span>Lead Developer</span>
        </div>
      </div>
      <div class="tecspark-t-box2">
      <div class="tecspark-t-quote2">
        <img src="assets/images/v1/quote.png" alt="">
      </div>
      <div class="tecspark-t-data2">
        <p>“ Working with several word press themes and templates the last years, I only can say this is best in every level. I use it for my company and the reviews that I have already are all excellent. Not only the design but the code quality ”</p>
        <div class="tecspark-t-rating">
          <ul>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
          </ul>
        </div>
        <h5>Alexander Cameron</h5>
        <span>Lead Developer</span>
      </div>
      </div>
      <div class="tecspark-t-box2">
      <div class="tecspark-t-quote2">
        <img src="assets/images/v1/quote.png" alt="">
      </div>
      <div class="tecspark-t-data2">
        <p>“ Working with several word press themes and templates the last years, I only can say this is best in every level. I use it for my company and the reviews that I have already are all excellent. Not only the design but the code quality ”</p>
        <div class="tecspark-t-rating">
          <ul>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
          </ul>
        </div>
        <h5>Brooklyn Simmons</h5>
        <span>Lead Developer</span>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding2 bg-light1">
  <div class="container">
    <div class="tecspark-section-title center">
      <h2>Our recent blog & articles</h2>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="tecspark-blog-wrap bg-white border-0">
          <a href="single-blog.html">
            <div class="tecspark-blog-thumb">
              <img src="assets/images/blog/blog18.png" alt="">
            </div>
          </a>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html">
              <h3>Planning your online business goals with a specialist</h3>
            </a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tecspark-blog-wrap blog-column border-0">
          <div class="tecspark-blog-left">
            <a href="single-blog.html">
              <div class="tecspark-blog-thumb">
                <img src="assets/images/blog/blog7.png" alt="">
              </div>
            </a>
          </div>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html">
              <h4>Proactive customer experience in the business</h4>
            </a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
        <div class="tecspark-blog-wrap blog-column border-0">
          <div class="tecspark-blog-left">
            <a href="single-blog.html">
              <div class="tecspark-blog-thumb">
                <img src="assets/images/blog/blog9.png" alt="">
              </div>
            </a>
          </div>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html">
              <h4>Boost your startup business with our digital agency</h4>
            </a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
        <div class="tecspark-blog-wrap blog-column border-0">
          <div class="tecspark-blog-left">
            <a href="single-blog.html">
              <div class="tecspark-blog-thumb">
                <img src="assets/images/blog/blog7.png" alt="">
              </div>
            </a>
          </div>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html">
              <h4>Data backup and recovery best practices small</h4>
            </a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/footer-three.html" %} 
  
{% endblock %}
