{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-seven.html" %} 

<div class="tecspark-hero-section7 bg-cover" style="background-image: url(assets/images/hero/hero-bg4.png)">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 d-flex align-items-center">
        <div class="tecspark-hero-content dark-color">
          <h5>We provide professional IT services</h5>
          <h1>Software crafting for digital success</h1>
          <p>We transform businesses of most major sectors with powerful and adaptable digital solutions that satisfy the needs of today.</p>
          <div class="tecspark-extra-mt">
            <div class="tecspark-btn-wrap">
              <a class="tecspark-default-btn" href="contact-us.html">Work With Us</a>
              <a class="tecspark-default-btn tecspark-light-btn" href="service.html">View Services</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding2">
  <div class="container">
    <div class="tecspark-section-title center">
      <h2>Our awesome services to give you success</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-iconbox-wrap style-two border_all">
          <div class="tecspark-iconbox-icon">
            <img src="assets/images/iconbox/icon4.png" alt="">
          </div>
          <div class="tecspark-iconbox-data">
            <h5>Data Tracking <br> Security</h5>
            <p>Developing a comprehensive IT strategy that aligns.</p>
            <a class="tecspark-icon-btn" href="single-service.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-iconbox-wrap style-two border_all">
          <div class="tecspark-iconbox-icon">
            <img src="assets/images/iconbox/icon5.png" alt="">
          </div>
          <div class="tecspark-iconbox-data">
            <h5>Web & Mobile App <br> Development</h5>
            <p>Developing a comprehensive IT strategy that aligns.</p>
            <a class="tecspark-icon-btn" href="single-service.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-iconbox-wrap style-two border_all">
          <div class="tecspark-iconbox-icon">
            <img src="assets/images/iconbox/icon6.png" alt="">
          </div>
          <div class="tecspark-iconbox-data">
            <h5>IT Management <br> Service</h5>
            <p>Developing a comprehensive IT strategy that aligns.</p>
            <a class="tecspark-icon-btn" href="single-service.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-iconbox-wrap style-two border_all">
          <div class="tecspark-iconbox-icon">
            <img src="assets/images/iconbox/icon7.png" alt="">
          </div>
          <div class="tecspark-iconbox-data">
            <h5>UI/UX & Branding <br> Identity</h5>
            <p>Developing a comprehensive IT strategy that aligns.</p>
            <a class="tecspark-icon-btn" href="single-service.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-iconbox-wrap style-two border_all">
          <div class="tecspark-iconbox-icon">
            <img src="assets/images/iconbox/icon8.png" alt="">
          </div>
          <div class="tecspark-iconbox-data">
            <h5>Digital Marketing <br> Services</h5>
            <p>Developing a comprehensive IT strategy that aligns.</p>
            <a class="tecspark-icon-btn" href="single-service.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-iconbox-wrap style-two border_all">
          <div class="tecspark-iconbox-icon">
            <img src="assets/images/iconbox/icon9.png" alt="">
          </div>
          <div class="tecspark-iconbox-data">
            <h5>Cyber Security <br> Solutions</h5>
            <p>Developing a comprehensive IT strategy that aligns.</p>
            <a class="tecspark-icon-btn" href="single-service.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section large-padding-tb overflow-hidden bg-light1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="tecspark-thumb extra-ml2 mr40">
          <img src="assets/images/v1/thumb3.png" alt="">
          <div class="tecspark-thumb-position3">
            <img src="assets/images/v1/thumb4.png" alt="">
          </div>
          <div class="tecspark-shape5">
            <img src="assets/images/shape/shape3.png" alt="">
          </div>
          <div class="tecspark-shape2">
            <img src="assets/images/shape/shape2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tecspark-default-content ml40">
          <h2>Increasing business success with technology</h2>
          <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few clicks. Each demo built with Teba will look different.</p>
          <div class="tecspark-extra-mt">
            <div class="skillbar" data-percent="86">
              <p class="skillbar-lable">
                <span class="skill-bar-title">Business Security</span>
                <span class="skill-bar-percent"></span>
              </p>
              <div class="skillbar-box">
                <p class="skillbar-bar"></p>
              </div>
            </div>
            <div class="skillbar" data-percent="72">
              <p class="skillbar-lable">
                <span class="skill-bar-title">Career Development</span>
                <span class="skill-bar-percent"></span>
              </p>
              <div class="skillbar-box">
                <p class="skillbar-bar"></p>
              </div>
            </div>
            <div class="skillbar" data-percent="95">
              <p class="skillbar-lable">
                <span class="skill-bar-title">Business Innovation</span>
                <span class="skill-bar-percent"></span>
              </p>
              <div class="skillbar-box">
                <p class="skillbar-bar"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="tecspark-divider color2"></div>
</div>

<div class="tecspark-brand-section2 bg-light1">
  <div class="container">
    <div class="tecspark-brand-title dark-color">
      <p>Empowered professionals to connect with top-tier opportunities</p>
    </div>
    <div class="tecspark-brand-slider">
      <div class="tecspark-brand-slider-item">
        <img src="assets/images/brand/brand1.png" alt="">
      </div>
      <div class="tecspark-brand-slider-item">
        <img src="assets/images/brand/brand2.png" alt="">
      </div>
      <div class="tecspark-brand-slider-item">
        <img src="assets/images/brand/brand3.png" alt="">
      </div>
      <div class="tecspark-brand-slider-item">
        <img src="assets/images/brand/brand4.png" alt="">
      </div>
      <div class="tecspark-brand-slider-item">
        <img src="assets/images/brand/brand5.png" alt="">
      </div>
      <div class="tecspark-brand-slider-item">
        <img src="assets/images/brand/brand3.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding">
  <div class="container">
    <div class="tecspark-section-title center">
      <h2>Explore our recent projects</h2>
    </div>
    <div class="tecspark-3column-slider2">
      <div class="tecspark-portfolio-wrap mb-0">
        <div class="tecspark-portfolio-thumb">
          <img src="assets/images/p1/p6.png" alt="">
          <a class="tecspark-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
          <div class="tecspark-portfolio-data">
            <a href="single-portfolio.html"><h4>Cyber Security Analysis</h4></a>
            <p>Security, Technology</p>
          </div>
        </div>
      </div>
      <div class="tecspark-portfolio-wrap mb-0">
        <div class="tecspark-portfolio-thumb">
          <img src="assets/images/p1/p7.png" alt="">
          <a class="tecspark-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
          <div class="tecspark-portfolio-data">
            <a href="single-portfolio.html"><h4>Digital Product Design</h4></a>
            <p>Design, Graphics</p>
          </div>
        </div>
      </div>
      <div class="tecspark-portfolio-wrap mb-0">
        <div class="tecspark-portfolio-thumb">
          <img src="assets/images/p1/p8.png" alt="">
          <a class="tecspark-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
          <div class="tecspark-portfolio-data">
            <a href="single-portfolio.html"><h4>Health App Development</h4></a>
            <p>Development, Software</p>
          </div>
        </div>
      </div>
      <div class="tecspark-portfolio-wrap mb-0">
        <div class="tecspark-portfolio-thumb">
          <img src="assets/images/p1/p9.png" alt="">
          <a class="tecspark-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
          <div class="tecspark-portfolio-data">
            <a href="single-portfolio.html"><h4>Marketing Agency Website</h4></a>
            <p>Development, Marketing</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section large-padding-tb overflow-hidden bg-light1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-2">
        <div class="tecspark-thumb extra-ml">
          <img src="assets/images/v3/thumb3.png" alt="">
          <div class="tecspark-thumb-position2">
            <img src="assets/images/v3/thumb4.png" alt="">
          </div>
          <div class="tecspark-shape3">
            <img src="assets/images/shape/shape1.png" alt="">
          </div>
          <div class="tecspark-shape4">
            <img src="assets/images/shape/shape2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tecspark-default-content mr40">
          <h2>Providing IT solutions & services for startups</h2>
          <div class="tecspark-extra-mt">
            <div class="tecspark-iconbox-wrap2">
              <div class="tecspark-iconbox-icon2 bg-white">
                <img src="assets/images/iconbox/icon10.png" alt="">
              </div>
              <div class="tecspark-iconbox-data2">
                <a href="contact-us.html"><h5>Quality Solution for Business</h5></a>
                <p>Each demo built with Teba will look different. customize almost anything in the appearance of your</p>
              </div>
            </div>
            <div class="tecspark-iconbox-wrap2">
              <div class="tecspark-iconbox-icon2 bg-white">
                <img src="assets/images/iconbox/icon1.png" alt="">
              </div>
              <div class="tecspark-iconbox-data2">
                <a href="team.html"><h5>Amazing Expert Teams</h5></a>
                <p>Each demo built with Teba will look different. customize almost anything in the appearance of your</p>
              </div>
            </div>
            <div class="tecspark-iconbox-wrap2 mb-0">
              <div class="tecspark-iconbox-icon2 bg-white">
                <img src="assets/images/iconbox/icon2.png" alt="">
              </div>
              <div class="tecspark-iconbox-data2">
                <a href="contact-us.html"><h5>Urgent Support For Clients</h5></a>
                <p>Each demo built with Teba will look different. customize almost anything in the appearance of your</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding2 dark-bg tecspark-pricing">
  <div class="container">
    <div class="tecspark-section-title center light-color">
      <h2>Effective & flexible pricing</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-pricing-wrap tecspark-pricing2">
          <div class="tecspark-pricing-header">
            <h4>Startup</h4>
          </div>
          <div class="tecspark-pricing-price">
            <h2>$99<span>/month</span></h2>
          </div>
          <p>Best for Startup business owners who needs website for business.</p>
          <a class="tecspark-pricing-btn" href="pricing.html">Select This Plan</a>
          <div class="tecspark-pricing-feature">
            <ul>
              <li><i class="ri-check-line"></i>10 GB disk space availability</li>
              <li><i class="ri-check-line"></i>50 GB NVMe SSD for use</li>
              <li><i class="ri-check-line"></i>Free platform access for all</li>
              <li><i class="ri-check-line"></i>Free lifetime updates facility</li>
              <li><i class="ri-check-line"></i>Free one year support</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-pricing-wrap tecspark-pricing2 active">
          <div class="tecspark-pricing-header">
            <h4>Business</h4>
          </div>
          <div class="tecspark-pricing-price">
            <h2>$299<span>/month</span></h2>
          </div>
          <p>Best for Startup business owners who needs website for business.</p>
          <a class="tecspark-pricing-btn" href="pricing.html">Select This Plan</a>
          <div class="tecspark-pricing-feature">
            <ul>
              <li><i class="ri-check-line"></i>10 GB disk space availability</li>
              <li><i class="ri-check-line"></i>50 GB NVMe SSD for use</li>
              <li><i class="ri-check-line"></i>Free platform access for all</li>
              <li><i class="ri-check-line"></i>Free lifetime updates facility</li>
              <li><i class="ri-check-line"></i>Free one year support</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-pricing-wrap tecspark-pricing2">
          <div class="tecspark-pricing-header">
            <h4>Enterprise</h4>
          </div>
          <div class="tecspark-pricing-price">
            <h2>$779<span>/month</span></h2>
          </div>
          <p>Best for Startup business owners who needs website for business.</p>
          <a class="tecspark-pricing-btn" href="pricing.html">Select This Plan</a>
          <div class="tecspark-pricing-feature">
            <ul>
              <li><i class="ri-check-line"></i>10 GB disk space availability</li>
              <li><i class="ri-check-line"></i>50 GB NVMe SSD for use</li>
              <li><i class="ri-check-line"></i>Free platform access for all</li>
              <li><i class="ri-check-line"></i>Free lifetime updates facility</li>
              <li><i class="ri-check-line"></i>Free one year support</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding2">
  <div class="container">
    <div class="tecspark-section-title center">
      <h2>Our recent blog & articles</h2>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="tecspark-blog-wrap bg-white">
          <a href="single-blog.html">
            <div class="tecspark-blog-thumb">
              <img src="assets/images/blog/blog18.png" alt="">
            </div>
          </a>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html">
              <h3>Planning your online business goals with a specialist</h3>
            </a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tecspark-blog-wrap blog-column">
          <div class="tecspark-blog-left">
            <a href="single-blog.html">
              <div class="tecspark-blog-thumb">
                <img src="assets/images/blog/blog7.png" alt="">
              </div>
            </a>
          </div>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html">
              <h4>Proactive customer experience in the business</h4>
            </a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
        <div class="tecspark-blog-wrap blog-column">
          <div class="tecspark-blog-left">
            <a href="single-blog.html">
              <div class="tecspark-blog-thumb">
                <img src="assets/images/blog/blog9.png" alt="">
              </div>
            </a>
          </div>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html">
              <h4>Boost your startup business with our digital agency</h4>
            </a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
        <div class="tecspark-blog-wrap blog-column">
          <div class="tecspark-blog-left">
            <a href="single-blog.html">
              <div class="tecspark-blog-thumb">
                <img src="assets/images/blog/blog7.png" alt="">
              </div>
            </a>
          </div>
          <div class="tecspark-blog-content">
            <div class="tecspark-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html">
              <h4>Data backup and recovery best practices small</h4>
            </a>
            <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-light1 tecspark-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="tecspark-default-content">
          <h2>Have any questions? here some answers</h2>
          <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only</p>
          <div class="tecspark-extra-mt">
            <a class="tecspark-default-btn" href="faq.html">Ask Any Question</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1">
        <div class="tecspark-accordion-wrap init-wrap">
          <div class="tecspark-accordion-item open">
            <div class="tecspark-accordion-header init-header">
              <h5> Q1. What Is The Design Process For Branding?</h5>
            </div>
            <div class="tecspark-accordion-body init-body">
              <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few clicks. Each demo built with Teba will look different.</p>
            </div>
          </div>
          <div class="tecspark-accordion-item">
            <div class="tecspark-accordion-header init-header">
              <h5>Q2. How Much Does Logo Design Services Cost?</h5>
            </div>
            <div class="tecspark-accordion-body init-body">
              <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few clicks. Each demo built with Teba will look different.</p>
            </div>
          </div>
          <div class="tecspark-accordion-item">
            <div class="tecspark-accordion-header init-header">
             <h5>Q3. How Long Will It Take To Complete My Project?</h5>
            </div>
            <div class="tecspark-accordion-body init-body">
              <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few clicks. Each demo built with Teba will look different.</p>
            </div>
          </div>
          <div class="tecspark-accordion-item">
            <div class="tecspark-accordion-header init-header">
             <h5>Q4. What Is Included In A Round Of Revisions?</h5>
            </div>
            <div class="tecspark-accordion-body init-body">
              <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few clicks. Each demo built with Teba will look different.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

{% include "../templates/layout/header-footer/footer-seven.html" %} 
  
{% endblock %}
