{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-eight.html" %} 

<div class="tecspark-hero-section8 bg-cover" style="background-image: url(assets/images/hero/bg4.png)">
  <div class="container">
      <div class="tecspark-hero-content center medium">
        <h1>We provide best tech solutions for your business</h1>
        <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success. As a dynamic and forward-thinking organization</p>
        <div class="tecspark-extra-mt">
          <div class="tecspark-btn-wrap center">
            <a class="tecspark-default-btn" href="contact-us.html">Work With Us</a>
            <a class="tecspark-default-btn tecspark-white-btn" href="service.html">View Services</a>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding">
  <div class="container">
    <div class="tecspark-section-title center">
      <h2>Our awesome services to give you success</h2>
    </div>
    <div class="tecspark-4column-slider2">
      <div class="tecspark-service-box">
        <div class="tecspark-service-thumb">
          <img src="assets/images/v3/service1.png" alt="">
          <div class="tecspark-service-data">
            <div class="tecspark-service-icon">
              <img src="assets/images/v3/icon1.png" alt="">
            </div>
            <a href="single-service.html"><h5>IT Management <br> Service</h5></a>
          </div>
        </div>
      </div>

      <div class="tecspark-service-box">
        <div class="tecspark-service-thumb">
          <img src="assets/images/v3/service2.png" alt="">
          <div class="tecspark-service-data">
            <div class="tecspark-service-icon">
              <img src="assets/images/v3/icon2.png" alt="">
            </div>
            <a href="single-service.html"><h5>Web & Mobile App <br> Development</h5></a>
          </div>
        </div>
      </div>
      <div class="tecspark-service-box">
        <div class="tecspark-service-thumb">
          <img src="assets/images/v3/service3.png" alt="">
          <div class="tecspark-service-data">
            <div class="tecspark-service-icon">
              <img src="assets/images/v3/icon3.png" alt="">
            </div>
            <a href="single-service.html"><h5>UI/UX & Branding <br> Identity</h5></a>
          </div>
        </div>
      </div>
      <div class="tecspark-service-box">
        <div class="tecspark-service-thumb">
          <img src="assets/images/v3/service4.png" alt="">
          <div class="tecspark-service-data">
            <div class="tecspark-service-icon">
              <img src="assets/images/v3/icon4.png" alt="">
            </div>
            <a href="single-service.html"><h5>Digital Marketing <br> Services</h5></a>
          </div>
        </div>
      </div>
      <div class="tecspark-service-box">
        <div class="tecspark-service-thumb">
          <img src="assets/images/v3/service2.png" alt="">
          <div class="tecspark-service-data">
            <div class="tecspark-service-icon">
              <img src="assets/images/v3/icon2.png" alt="">
            </div>
            <a href="single-service.html"><h5>Web & Mobile App <br> Development</h5></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section large-padding-tb overflow-hidden bg-light1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="tecspark-thumb extra-mr">
          <img src="assets/images/v1/thumb1.png" alt="">
          <div class="tecspark-thumb-position">
            <img src="assets/images/v1/thumb2.png" alt="">
          </div>
          <div class="tecspark-shape1">
            <img src="assets/images/shape/shape1.png" alt="">
          </div>
          <div class="tecspark-shape2">
            <img src="assets/images/shape/shape2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tecspark-default-content ml40">
          <h2>We provide perfect IT solutions & technology</h2>
          <h5>During this time, we’ve built a reputation for excellent clients satisfaction as evidenced by our</h5>
          <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few clicks. Each demo built with Teba will look different.</p>
          <div class="tecspark-extra-mt">
            <div class="tecspark-iconbox-column">
              <div class="tecspark-iconbox-wrap3">
                <div class="tecspark-iconbox-icon3">
                  <img src="assets/images/iconbox/icon11.png" alt="">
                </div>
                <div class="tecspark-iconbox-data3">
                  <p>Provide Skills <br> Services</p>
                </div>
              </div>
              <div class="tecspark-iconbox-wrap3">
                <div class="tecspark-iconbox-icon3">
                  <img src="assets/images/iconbox/icon12.png" alt="">
                </div>
                <div class="tecspark-iconbox-data3">
                  <p>Urgent Support <br> For Clients</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding5">
  <div class="container">
    <div class="tecspark-section-title center">
      <h2>Our working process on how to grow your business</h2>
    </div>
    <div class="row z-index">
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-numberbox-wrap">
          <div class="tecspark-numberbox-icon">
            <img src="assets/images/v2/illustration1.png" alt="">
          </div>
          <div class="tecspark-numberbox-data">
            <span>01</span>
            <h4>Initiation & Planning</h4>
            <p>We are architects innovation trailblazers of technological advancement</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-numberbox-wrap">
          <div class="tecspark-numberbox-icon">
            <img src="assets/images/v2/illustration2.png" alt="">
          </div>
          <div class="tecspark-numberbox-data">
            <span>02</span>
            <h4>Execution & Development</h4>
            <p>We are architects innovation trailblazers of technological advancement</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tecspark-numberbox-wrap">
          <div class="tecspark-numberbox-icon">
            <img src="assets/images/v2/illustration3.png" alt="">
          </div>
          <div class="tecspark-numberbox-data">
            <span>03</span>
            <h4>Testing & Maintenance</h4>
            <p>We are architects innovation trailblazers of technological advancement</p>
          </div>
        </div>
      </div>
      <div class="tecspark-line">
        <img src="assets/images/v2/line.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding bg-light1">
  <div class="container">
    <div class="tecspark-section-title center">
      <h2>Explore our recent projects</h2>
    </div>
  </div>
  <div class="tecspark-3column-slider">
    <div class="tecspark-portfolio-wrap2">
      <div class="tecspark-portfolio-thumb2">
        <img src="assets/images/p2/p1.png" alt="">
      </div>
      <div class="tecspark-portfolio-data2-wrap">
        <div class="tecspark-portfolio-data2">
          <a href="single-portfolio.html"><h4>Cyber Security Analysis</h4></a>
          <p>Security, Technology</p>
        </div>
        <a class="tecspark-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
      </div>
    </div>
    <div class="tecspark-portfolio-wrap2">
      <div class="tecspark-portfolio-thumb2">
        <img src="assets/images/p2/p2.png" alt="">
      </div>
      <div class="tecspark-portfolio-data2-wrap">
        <div class="tecspark-portfolio-data2">
          <a href="single-portfolio.html"><h4>Digital Product Design</h4></a>
          <p>Design, Graphics</p>
        </div>
        <a class="tecspark-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
      </div>
    </div>
    <div class="tecspark-portfolio-wrap2">
      <div class="tecspark-portfolio-thumb2">
        <img src="assets/images/p2/p3.png" alt="">
      </div>
      <div class="tecspark-portfolio-data2-wrap">
        <div class="tecspark-portfolio-data2">
          <a href="single-portfolio.html"><h4>Health App Development</h4></a>
          <p>Development, Software</p>
        </div>
        <a class="tecspark-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
      </div>
    </div>
    <div class="tecspark-portfolio-wrap2">
      <div class="tecspark-portfolio-thumb2">
        <img src="assets/images/p2/p4.png" alt="">
      </div>
      <div class="tecspark-portfolio-data2-wrap">
        <div class="tecspark-portfolio-data2">
          <a href="single-portfolio.html"><h4>Marketing Agency Website</h4></a>
          <p>Development, Marketing</p>
        </div>
        <a class="tecspark-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding dark-bg">
  <div class="container">
    <div class="tecspark-1column-slider">
      <div class="tecspark-t-box2">
        <div class="tecspark-t-quote2">
          <img src="assets/images/v1/quote.png" alt="">
        </div>
        <div class="tecspark-t-data2">
          <p>“ Working with several word press themes and templates the  years, I only can say this is best in every level. I use it for my company and the reviews that I have already are excellent. only design but the code quality ”</p>
          <div class="tecspark-t-rating2">
            <ul>
              <li><img src="assets/images/v1/rating.png" alt=""></li>
              <li><img src="assets/images/v1/rating.png" alt=""></li>
              <li><img src="assets/images/v1/rating.png" alt=""></li>
              <li><img src="assets/images/v1/rating.png" alt=""></li>
              <li><img src="assets/images/v1/rating.png" alt=""></li>
            </ul>
          </div>
          <h5>Brooklyn Simmons</h5>
          <span>Lead Developer</span>
        </div>
      </div>
      <div class="tecspark-t-box2">
      <div class="tecspark-t-quote2">
        <img src="assets/images/v1/quote.png" alt="">
      </div>
      <div class="tecspark-t-data2">
        <p>“ Working with several word press themes and templates the last years, I only can say this is best in every level. I use it for my company and the reviews that I have already are all excellent. Not only the design but the code quality ”</p>
        <div class="tecspark-t-rating">
          <ul>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
          </ul>
        </div>
        <h5>Alexander Cameron</h5>
        <span>Lead Developer</span>
      </div>
      </div>
      <div class="tecspark-t-box2">
      <div class="tecspark-t-quote2">
        <img src="assets/images/v1/quote.png" alt="">
      </div>
      <div class="tecspark-t-data2">
        <p>“ Working with several word press themes and templates the last years, I only can say this is best in every level. I use it for my company and the reviews that I have already are all excellent. Not only the design but the code quality ”</p>
        <div class="tecspark-t-rating">
          <ul>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
          </ul>
        </div>
        <h5>Brooklyn Simmons</h5>
        <span>Lead Developer</span>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding2">
  <div class="container">
    <div class="tecspark-section-title center">
      <h2>Our expert team is always ready to help you</h2>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="tecspark-team-wrap border_all">
          <div class="tecspark-team-thumb">
            <img src="assets/images/team/team1.png" alt="">
            <div class="tecspark-social-icon-box style-three position">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tecspark-team-data">
            <a href="single-team.html"><h5>Marvin McKinney</h5></a>
            <p>CEO & Founder</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="tecspark-team-wrap border_all">
          <div class="tecspark-team-thumb">
            <img src="assets/images/team/team2.png" alt="">
            <div class="tecspark-social-icon-box style-three position">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tecspark-team-data">
            <a href="single-team.html"><h5>Sophia Rodriguez</h5></a>
            <p>Creative Director</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="tecspark-team-wrap border_all">
          <div class="tecspark-team-thumb">
            <img src="assets/images/team/team3.png" alt="">
            <div class="tecspark-social-icon-box style-three position">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tecspark-team-data">
            <a href="single-team.html"><h5>Marvin McKinney</h5></a>
            <p>Lead Developer</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="tecspark-team-wrap border_all">
          <div class="tecspark-team-thumb">
            <img src="assets/images/team/team4.png" alt="">
            <div class="tecspark-social-icon-box style-three position">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tecspark-team-data">
            <a href="single-team.html"><h5>Alexander Cameron</h5></a>
            <p>Product Designer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding bg-light1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tecspark-default-content mr40">
          <h2>Let’s build an awesome project together</h2>
          <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few clicks. Each demo built with Teba will look different.</p>
          <div class="tecspark-contact-info-column">
            <div class="tecspark-contact-info">
              <i class="ri-map-pin-2-fill"></i>
              <h5>Address</h5>
              <p>1791 Yorkshire Circle Kitty<br>
                Hawk, NC 279499</p>
            </div>
            <div class="tecspark-contact-info">
              <i class="ri-mail-fill"></i>
              <h5>Contact</h5>
              <a href="mailto:name@email.com">info@mthemeus.com</a>
              <a href="tel:123">518-564-3200</a>
            </div>
          </div>
          Office Hours: Mon – Sat: 8:00 AM – 10:00 PM
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tecspark-main-form bg-white ml60">
          <h3>Fill The Contact Form</h3>
          <p>Feel free to contact with us, we don’t spam your email</p>
          <form action="#">
            <div class="row">
              <div class="col-lg-6">
                <div class="tecspark-main-field">
                  <input type="text" placeholder="Your name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tecspark-main-field">
                  <input type="number" placeholder="Phone number">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="tecspark-main-field">
                  <input type="email" placeholder="Email address">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="tecspark-main-field">
                  <textarea name="textarea" placeholder="Write your message"></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <button id="tecspark-main-form-btn" type="button">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tecspark-section-padding">
  <div class="container">
    <div class="tecspark-section-title">
      <div class="row">
        <div class="col-xxl-5 col-lg-7">
          <h2>Recent blog & articles about technology</h2>
        </div>
        <div class="col-xxl-7 col-lg-5 d-flex align-items-center justify-content-end">
          <div class="tecspark-title-btn">
            <a class="tecspark-default-btn" href="blog.html">View All Posts</a>
          </div>
        </div>
      </div>
    </div>
   <div class="row">
    <div class="col-xl-4 col-md-6">
      <div class="tecspark-blog-wrap">
        <a href="single-blog.html">
          <div class="tecspark-blog-thumb">
            <img src="assets/images/blog/blog6.png" alt="">
          </div>
        </a>
        <div class="tecspark-blog-content reduced-padding">
          <div class="tecspark-blog-meta">
            <ul>
              <li><a href="single-blog.html">Technology</a></li>
              <li><a href="single-blog.html">26 June 2023</a></li>
            </ul>
          </div>
          <a href="single-blog.html"><h4>Planning your online business goals with a specialist</h4></a>
          <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="tecspark-blog-wrap">
        <a href="single-blog.html">
          <div class="tecspark-blog-thumb">
            <img src="assets/images/blog/blog7.png" alt="">
          </div>
        </a>
        <div class="tecspark-blog-content reduced-padding">
          <div class="tecspark-blog-meta">
            <ul>
              <li><a href="single-blog.html">Technology</a></li>
              <li><a href="single-blog.html">26 June 2023</a></li>
            </ul>
          </div>
          <a href="single-blog.html"><h4>Boost your startup business with our digital agency</h4></a>
          <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="tecspark-blog-wrap">
        <a href="single-blog.html">
          <div class="tecspark-blog-thumb">
            <img src="assets/images/blog/blog8.png" alt="">
          </div>
        </a>
        <div class="tecspark-blog-content reduced-padding">
          <div class="tecspark-blog-meta">
            <ul>
              <li><a href="single-blog.html">Technology</a></li>
              <li><a href="single-blog.html">26 June 2023</a></li>
            </ul>
          </div>
          <a href="single-blog.html"><h4>Proactive customer experience in the business</h4></a>
          <a class="tecspark-icon-btn" href="single-blog.html"><i class="icon-show ri-arrow-right-line"></i> <span>Learn More</span> <i class="icon-hide ri-arrow-right-line"></i></a>
        </div>
      </div>
    </div>
   </div>
   <div class="tecspark-center-btn">
    <a class="tecspark-default-btn" href="blog.html">View All Posts</a>
  </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
