{% extends "layout/layout.html" %}
{% set page_title = "Technology support allows erie non-profit to serve" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="tecspark-breadcrumb" style="background-image: url(assets/images/breadcrumb/breadcrumb.png)">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section tecspark-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="tecspark-blog-thumb single-blog">
          <img src="assets/images/blog/blog-single.png" alt="">
        </div>
        <div class="tecspark-single-post-content-wrap">
          <div class="tecspark-single-post-meta">
            <ul>
              <li><a href=""><i class="ri-calendar-fill"></i> 26 June 2023</a></li>
              <li><a href=""><i class="ri-bookmark-fill"></i> Technology</a></li>
              <li><a href=""><i class="ri-chat-2-fill"></i> 2 Comments</a></li>
            </ul>
          </div>
          <div class="entry-content">
            <p>Vast numbers of employees now work remotely, and it’s too late to develop a set of remote-work policies if you didn’t already have one. But there are ways to make the remote-work experience productive and engaging for employees</p>

            <p>Use both direct conversations and indirect observations to get visibility into employees’ challenges and concerns. Use every opportunity to make clear to employees that you support and care them. To facilitate regular conversations between managers and employees, provide managers with guidance on how best to broach sensitive subjects arising from the COVID-19 pandemic, including alternative work models, job security and prospects, impact on staffing</p>

            <div class="tecspark-single-thumb">
              <div class="row">
                <div class="col-lg-6">
                  <img src="assets/images/blog/blog1.png" alt="">
                </div>
                <div class="col-lg-6">
                  <img src="assets/images/blog/blog2.png" alt="">
                </div>
              </div>
            </div>
            
            <p>The third Monday of January is supposed to be the most depressing day of the year. Whether you believe that or not, the long nights, cold weather, and trying to keep to new year resolutions are all probably getting to you a little by now. To make matters worse many will still be recovering from their Christmas spending. So how can you make today</p>

            <blockquote> <img src="assets/images/blog/quote.png" alt=""> We appreciate the consistent high-quality service provided by their team goes above and beyond concerns promptly ”</blockquote>

            <p>Vast numbers of employees now work remotely, and it’s too late to develop a set of remote-work policies if you didn’t already have one. But there are ways to make the remote-work experience productive and engaging for employees</p>
            <p>Use both direct conversations and indirect observations to get visibility into employees’ challenges and concerns. Use every opportunity to make clear to employees that you support and care them. To facilitate regular conversations between managers and employees, provide managers with guidance on how best to broach sensitive subjects arising from the COVID-19 pandemic</p>


            <div class="tecspark-single-post-tag-wrap">
             <div class="tecspark-blog-tags">
              <ul>
                <li><a href="">IT Solution</a></li>
                <li><a href="">Technology</a></li>
                <li><a href="">Cyber Security</a></li>
                <li><a href="">Software</a></li>
              </ul>
             </div>
            </div>

            <div class="tecspark-post-navigation">
              <a href="single-blog.html" class="nav-previous">
                <i class="ri-arrow-left-line"></i> Perv Post
              </a>
              <a href="single-blog.html" class="nav-next">
                Next Post <i class="ri-arrow-right-line"></i>
              </a>
            </div>

            <div class="tecspark-post-comment">
              <h3>Comments:</h3>
              <ul>
                <li>
                  <div class="tecspark-post-comment-wrap">
                    <div class="tecspark-post-comment-thumb">
                      <img src="assets/images/team/team1.png" alt="">
                    </div>
                    <div class="tecspark-post-comment-data">
                      <p>Legal expertise and is client focused we enhance entrepreneurial environment  flexible supportive, allowing our lawyers introduced</p>
                      <strong>Alexander Cameron</strong>
                      <span>June 21, 2023</span>
                      <a class="tecspark-comment-reply" href="">
                        <i class="ri-reply-fill"></i>
                        Reply</a>
                    </div>
                  </div>
                </li>
                <li class="children">
                  <div class="tecspark-post-comment-wrap">
                    <div class="tecspark-post-comment-thumb">
                      <img src="assets/images/team/team2.png" alt="">
                    </div>
                    <div class="tecspark-post-comment-data">
                      <p>Legal expertise and is client focused we enhance entrepreneurial environment  flexible supportive, allowing our lawyers</p>
                      <strong>Brooklyn Simmons</strong>
                      <span>September 22, 2023</span>
                      <a class="tecspark-comment-reply" href="">
                        <i class="ri-reply-fill"></i>
                        Reply</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>


            <div class="tecspark-comment-box">
              <h3>Leave a comments:</h3>
              <form action="#">
                <div class="tecspark-comment-box-form">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="tecspark-comment-form">
                        <input type="text" placeholder="Your Name*">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="tecspark-comment-form">
                        <input type="email" placeholder="Email Address*">
                      </div>
                    </div>
                  </div>
                  <div class="tecspark-comment-form">
                    <textarea name="textarea" placeholder="Write us your comment"></textarea>
                  </div>
                  <div class="tecspark-check">
                    <input type="checkbox" id="css">
                    <label for="css">Save my name, email, and website in this browser for the next time I comment.</label>
                  </div>
                  <button id="tecspark-default-btn" type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
      <div class="col-lg-4">
        <div class="tecspark-blog-sidebar">
          <div class="tecspark-blog-widgets">
            <h5>Search</h5>
            <form action="#">
              <div class="tecspark-search-box">
                <input type="search" placeholder="Type to search...">
                <button id="tecspark-search-btn" type="button"><i class="ri-search-line"></i></button>
              </div>
            </form>
          </div>
          <div class="tecspark-blog-widgets">
            <h5>Categories</h5>
            <div class="tecspark-blog-categorie">
              <ul>
                <li><a href="">Uncategorized<span>(18)</span></a></li>
                <li><a href="">Marketing<span>(5)</span></a></li>
                <li><a href="">Business<span>(2)</span></a></li>
                <li><a href="">Technology<span>(11)</span></a></li>
                <li><a href="">Consulting<span>(4)</span></a></li>
                <li><a href="">Cyber Security<span>(8)</span></a></li>
              </ul>
            </div>
          </div>
          <div class="tecspark-blog-widgets">
            <h5>Recent Posts</h5>
            <a class="tecspark-recent-post-item" href="single-blog.html">
                <div class="tecspark-recent-post-thumb">
                  <img src="assets/images/blog/recent-post1.png" alt="">
                </div>
                <div class="tecspark-recent-post-data">
                  <p>Planning your online business goals with a specialist  </p>
                  <span>26 June 2023</span>
                </div>
            </a>
            <a class="tecspark-recent-post-item" href="single-blog.html">
              <div class="tecspark-recent-post-thumb">
                <img src="assets/images/blog/recent-post2.png" alt="">
              </div>
              <div class="tecspark-recent-post-data">
                <p>Boost your startup business with our digital agency </p>
                <span>26 June 2023</span>
              </div>
            </a>
            <a class="tecspark-recent-post-item" href="single-blog.html">
              <div class="tecspark-recent-post-thumb">
                <img src="assets/images/blog/recent-post3.png" alt="">
              </div>
              <div class="tecspark-recent-post-data">
                <p>The importance of a strong digital for strategy </p>
                <span>26 June 2023</span>
              </div>
            </a>
          </div>
          <div class="tecspark-blog-widgets">
            <h5>Tags</h5>
            <div class="tecspark-blog-tags">
              <ul>
                <li><a href="">Business</a></li>
                <li><a href="">Digital</a></li>
                <li><a href="">IT Solution</a></li>
                <li><a href="">Technology</a></li>
                <li><a href="">Cyber Security</a></li>
                <li><a href="">Digital</a></li>
                <li><a href="">Finance</a></li>
                <li><a href="">Software</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
