{% extends "layout/layout.html" %}
{% set page_title = "Cyber Security Analysis" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="optech-breadcrumb" style="background-image: url(assets/images/breadcrumb/breadcrumb.png)">
  <div class="container">
    <h1 class="post__title">{{page_title}}</h1>
    <nav class="breadcrumbs">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="portfolio-01.html">Portfolio</a></li>
            <li aria-current="page"> {{page_title}}</li>
        </ul>
    </nav>
  </div>
</div>
<!-- End breadcrumb -->

<div class="section optech-section-padding">
  <div class="container">
    <div class="optech-pd-thumb">
      <img src="assets/images/p1/p_details.png" alt="">
    </div>
    <div class="optech-pd-wrap">
      <div class="row">
        <div class="col-xl-8 col-lg-7">
          <div class="optech-pd-content-wrap">
            <div class="optech-pd-content-item">
              <h3>Project overview</h3>
              <p>A content management system helps you create, manage, and publish content on the web. It also keep content organized and accessible so it can be used and repurposed effectively. There are various kinds of content management systems available—from cloud-based to a headless</p>
              <p>CMS provides user-friendly features for easy editing and is compatible with installing plugins and tools that provide even more features for advanced functions. API CMS’s are built to have an excellent user-friendly interface that is easy to use.</p>
            </div>
            <div class="optech-pd-content-item">
              <h3>The challenge of project</h3>
              <p>A content management system (CMS) is an application that is used to manage content, allowing multiple contributors to create, edit and publish. Content in a CMS is typically stored in a database and displayed in a presentation layer based on a set of templates like a website.</p>
            </div>
            <div class="optech-pd-content-item">
              <div class="row">
                <div class="col-md-6">
                  <img src="assets/images/p1/p1.png" alt="">
                </div>
                <div class="col-md-6">
                  <img src="assets/images/p1/p2.png" alt="">
                </div>
              </div>
            </div>
            <div class="optech-pd-content-item">
              <p>CMS provides user-friendly features for easy editing and is compatible with installing plugins and tools that provide even more features for advanced functions. API CMS’s are built to have an excellent user-friendly interface that is easy to use.</p>
            </div>
            <div class="optech-icon-list">
              <ul>
                <li><i class="ri-check-line"></i>Creating and editing content</li>
                <li><i class="ri-check-line"></i>Workflows, reporting, and content organization</li>
                <li><i class="ri-check-line"></i>User & role-based administration and security</li>
                <li><i class="ri-check-line"></i>Flexibility, scalability, and performance and analysis</li>
                <li><i class="ri-check-line"></i>Multilingual content capabilities</li>
              </ul>
            </div>
            <div class="optech-pd-content-item">
              <h3>Final results</h3>
              <p>Having a content management system for your website allows you to have control of your content. It means having the ability to update, change or delete any images, text, video, or audio. It allows you to keep your site organized, up to date and looking.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="optech-pd-sidebar-wrap">
            <div class="optech-pd-sidebar">
              <h5>Project Details</h5>
              <div class="optech-pd-sidebar-item">
                <span>Client:</span>
                <p>Porter Victoria</p>
              </div>
              <div class="optech-pd-sidebar-item">
                <span>Category:</span>
                <p>Web Development</p>
              </div>
              <div class="optech-pd-sidebar-item">
                <span>Date:</span>
                <p>20 January, 2023</p>
              </div>
              <div class="optech-pd-sidebar-item">
                <span>Website:</span>
                <a href="mailto:name@email.com">example@gmail.com</a>
              </div>
              <div class="optech-social-icon-box">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/">
                      <i class="ri-facebook-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/">
                      <i class="ri-linkedin-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/">
                      <i class="ri-twitter-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/">
                      <i class="ri-instagram-fill"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="optech-service-contact" style="background-image: url(assets/images/service/bg.png)">
              <div class="optech-service-contact-icon">
                <img src="assets/images/service/icon.svg" alt="">
              </div>
              <h3>Don't hesitate to contact us</h3>
              <p>At our IT solution company, we are committed to exceptional</p>
              <a class="optech-default-btn" href="contact-us.html" data-text="Get in Touch"><span class="btn-wraper">Get in Touch</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="optech-post-navigation2">
      <a href="portfolio-01.html" class="p-nav-previous">
        <div class="optech-post-icon">
          <i class="ri-arrow-left-s-line"></i>
        </div>
        <div class="optech-post-data">
          <p>Perv Project</p>
          <h5>CMS Software Solution</h5>
        </div>
      </a>
      <a href="portfolio-02.html" class="p-nav-next">
        <div class="optech-post-data">
          <p>NextProject</p>
          <h5>Health App Development</h5>
        </div>
        <div class="optech-post-icon">
          <i class="ri-arrow-right-s-line"></i>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-cover optech-section-padding" style="background-image: url(assets/images/cta/cta-bg3.png)">
  <div class="container">
    <div class="optech-cta-wrap">
      <div class="optech-cta-content center">
        <h2>Let’s work together</h2>
        <p>Each demo built with Teba will look different. You can customize anything appearance of your website with only a few clicks</p>
        <div class="optech-extra-mt">
          <a class="optech-default-btn optech-white-btn" href="contact-us.html" data-text="Let’s Start a Project"> <span class="btn-wraper">Let’s Start a Project</span> </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->



{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
