.tecspark-blog{
  &-wrap{
    border-radius: 18px;
    margin-bottom: 24px;
    transition: all 0.4s;
    overflow: hidden;
    border: 1px solid var(--light-color1);
    &:hover .tecspark-blog-thumb img{
      transform: scale(1.1);
    }
    &:hover {
      border: 1px solid var(--white-color);
      box-shadow: 0px 12px 40px 4px #0A165E14;
    }
  }
  &-thumb{
    overflow: hidden;
    img{
      transition: all 0.8s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content{
    padding: 40px;
    h2{
      margin-bottom: 15px;
    }
    @include max(991px) {
      padding: 30px;
    }
    h4{
      transition: all 0.4s;
    }
    &:hover h4{
      text-decoration: underline;
    }
  }
  &-meta{
    margin-bottom: 15px;
    ul{
      line-height: 1;
      li{
        position: relative;
        padding-right: 20px;
        display: inline-block;
        &::before{
          content: "";
          right: 4px;
          top: 5px;
          width: 5px;
          height: 5px;
          border-radius: 20px;
          position: absolute;
          background-color: var(--body-color);
        }
        &:last-child::before{
          content: none;
        }
        a{
          transition: all 0.4s;
          color: var(--body-color);
          &:hover{
            color: var(--accent-color);
          }
        }
      }
    }
  }
  &-btn{
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: all 0.4s;
    color: var(--accent-color);
    margin-top: 28px;
    i{
      font-weight: normal;
      font-size: 22px;
      margin-left: 8px;
      transition: all 0.4s;
    }
    &:hover{
      color: var(--accent-color);
    }
    .icon-show{
      opacity: 0;
      transition: all 0.4s;
    }
    &:hover .icon-show{
      opacity: 1;
      margin-right: 32px;
    }
    .icon-hide{
      transition: all 0.4s;
      transform: translateX(-28px);
    }
    &:hover .icon-hide{
      opacity: 0;
    }
    span{
      position: relative;
      transform: translateX(-28px);
    }
  }
}

.tecspark-blog-grid{
  .tecspark-blog-content{
    padding: 28px;
  }
  .tecspark-blog-btn{
    margin-top: 20px;
  }
}

// blog main card
