// bootstrap button style

.tecspark-default-btn, 
#tecspark-default-btn,
button#tecspark-subscription-btn,
button#tecspark-main-form-btn,
#tecspark-hero-form-btn,
#tecspark-team-form-btn,
.tecspark-pricing-btn {
  font-size: $button_font_size;
  line-height: $buton_line_height;
  padding: $button_padding;
  border-radius: $buton_border_radius;
  font-weight: $button_font_weight;
  font-family: $button_font_family;
  width: fit-content;
  z-index: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-flex;
  align-items: center;
  text-align: center;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: var(--white-color);
  background-color: var(--accent-bg);
  z-index: 0;
  overflow: hidden;
  position:relative;
  transform-style: preserve-3d;
  &:hover{
    color: var(--white-color);
  }
  &::before{
    transition-duration: 800ms;
    position: absolute;
    width: 200%;
    height: 200%;
    content: "";
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
    background-color: var(--dark-bg);
  }
  &:hover:before{
    top: -40%;
  }
  &.tecspark-white-btn{
    color: var(--heading-color)!important;
    background-color: var(--white-color);
    &:hover{
      color: var(--white-color)!important;
    }
    &::before{
      background-color: var(--accent-bg);
    }
    &.hover-default{
      &::before{
        background-color: var(--dark-bg);
      }
    }
  }
  
  &.tecspark-light-btn{
    color: var(--heading-color)!important;
    background-color: var(--light-bg2);
    &:hover{
      color: var(--white-color)!important;
    }
  }
  &.tecspark-header-btn{
    padding: 14px 24px;
  }
  &.hover-white{
    &:hover{
      color: var(--accent-color);
    }
    &::before{
      background-color: var(--white-bg);
    }
  }
  &.disabled,
  &:disabled {
    opacity: 1;
  }
  &.d-block {
    width: 100%;
  }
  &.pill {
    border-radius: 50px;
  }
  &.btn-icon {
    padding: 9px 24px;
  }
  &:focus {
    box-shadow: none;
  }
}

