// hero counter
.optech-counter{
  &-wrap{
    padding: 77px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    background-size: 100% 100%;
    justify-content:space-between;
    border-radius: 30px;
    &::before{
      content: "";
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      position: absolute;
    }
    &::after{
      content: "";
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      position: absolute;
    }
    @include max(1199px) {
      padding: 80px 60px;
    }
    @include max(991px) {
      row-gap: 40px;
      border-radius: 70px 25px 70px 25px;
      background-color: var(--dark-bg);
      &::before{
        border-top: 60px solid var(--white-bg);
        border-right: 60px solid transparent;
      }
      &::after{
        border-bottom: 60px solid var(--white-bg);
        border-left: 60px solid transparent;
      }
      
    }
    @include max(767px) {
      padding: 80px 15px;
    }
  }
  &-icon{
    width: 70px;
    height: 70px;
    display: flex;
    margin: 0 auto 20px;
    align-items:center;
    border-radius: 10px;
    justify-content: center;
    background-color: var(--accent-bg);
  }
  &-data{
    position: relative;
    width: 160px;
    &::before{
      content: "";
      right: -57%;
      top: 50%;
      height: 90px;
      width: 1px;
      position: absolute;
      background-color: #272F5D;
      transform: translateY(-50%);
      @include max(1399px) {
        right: -38%;
      }
      @include max(1199px) {
        right: -25%;
      }
      @include max(991px) {
        right: 0;
      }
    }
    &:last-child:before{
      content: none;
    }
    &:nth-child(2)::before {
      @include max(991px) {
        content: none;
      }
    }
    p{
      color: var(--light-color2);
    }
    @include max(991px) {
      flex: 0 0 50%;
    }
   
  }
  
  &-number{
    font-weight: 600;
    font-size: 48px;
    line-height: 1.15em; /* 116.667% */
    letter-spacing: -3px;
    color: var(--white-color);
    @include max(767px) { 
      font-size: 34px;
    }
  }

}

// End v2

.optech-counter-wrap2{
  display: flex;
  gap: 96px;
  @include max(991px) {
    gap: 0px;
  }
  @include max(575px) {
    gap: 24px;
  }
  .optech-counter-number{
    color: var(--heading-color);
  }
  .optech-counter-data {
    p{
      color: var(--body-color);
    }
    &::before{
      right: -25%;
      background-color: var(--light-color1);
      @include max(991px) {
        right: 25%;
      }
      @include max(600px) {
        content: none;
      }
    }
  }
}

// End v3


.optech-counter{
  &-section3{
    padding: 130px 0 80px;
    @include max(991px) {
      padding: 100px 0 80px;
    }
    @include max(991px) {
      padding: 80px 0;
    }
  }
  &-wrap3{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 30px;
    justify-content:space-between;
    @include max(991px) {
      column-gap: 0px;
    }

    @include max(767px) {
      text-align: center;
    }
    
  }
  &-data3{
    display: flex;
    gap: 20px;
    @include max(991px) {
      flex: 0 0 50%;
      justify-content: center;
    }
    @include max(767px) {
      display: block;
    }
  }
  &-icon3{
    width: 70px;
    height: 70px;
    display: flex;
    flex-shrink: 0;
    align-items:center;
    border-radius: 10px;
    justify-content: center;
    background-color: var(--light-bg3);
    @include max(767px) {
      margin: 0 auto 20px;
    }
  }
  &-number3{
    width: 160px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 5px;
    letter-spacing: -0.03em;
    color: var(--heading-color);
    @include max(767px) { 
      font-size: 34px;
      width: 100%;
    }
  }

}
// End v5