.tecspark-accordion{
  &-wrap{
    border-top: 1px solid var(--light-color1);
    @include max(991px) {
      margin-top: 40px;
    }
  }
  &-item{
    padding: 26px 0;
    position: relative;
    transition: all 0.4s;
    border-bottom: 1px solid var(--light-color1);
    &:last-child{
      margin-bottom: 0;
    }
    &.open .tecspark-accordion-header::before{
      transform: rotate(45deg);
    }
    &.open{
      .tecspark-accordion-body{
        display: block;
      }
    }
  }
  &-header{
    cursor: pointer;
    position: relative;
    padding-right: 30px;
    &::before{
      content: "\ea13";
      position: absolute;
      right: 0;
      transition: all .4s;
      top: -2px;
      font-size: 30px;
      z-index: 2;
      font-family: remixicon;
      color: var(--heading-color);
      @include max(767px) {
        top: 5px;
      }
    }
   
  }
  &-body{
    display: none;
    padding-top: 15px;
    padding-right: 40px;
    &.default{
      display: block;
    }
  }
}

// v4
