.optech-extra-mt {
  margin-top: 40px;
  @include max(767px) {
    margin-top: 30px;
  }
}

.bg-cover{
  background-size: cover;
  background-position: center;
}

.optech-hero {
  &-section{
    padding: 260px 0 150px;
    @include max(991px) {
      padding: 220px 0 100px;
    }
    @include max(767px) {
      padding: 200px 0 100px;
    }


  }
  &-content{
    h5{
      color: var(--white-color);
      margin-bottom: 15px;
      font-weight: 500;
    }
    @include max(991px) {
      text-align: center;
    }
    h1{
      margin-bottom: 24px;
    }
    p{
      font-size: 18px;
      line-height: 32px;
      color: var(--light-color1);
    }
    &.dark-color{
      h1, h5{
        color: var(--heading-color);
      }
      p{
        color: var(--body-color);
      }
    }
    &.center{
      text-align: center;
      max-width: 860px;
      margin: 0 auto;
      @include max(1399px) {
        max-width: 800px;
      }
      @include max(991px) {
        max-width: 600px;
      }
      p{
        max-width: 680px;
        margin: 0 auto;
      }
      &.sm{
        max-width: 600px;
        @include max(991px) {
          max-width: 500px;
        }
      }
      &.medium{
        max-width: 800px;
        @include max(991px) {
          max-width: 500px;
        }
        p{
          max-width: 100%;
        }
      }
    }

    &.sm{
      p{
        max-width: 615px;
        @include max(991px) {
          max-width: 500px;
        }
      }
      
    }
   
  }
  &-thumb{
    @include max(991px) {
      margin-top: 40px;
      text-align: center;
    }
  }
}
.optech-btn-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  @include max(991px) {
    justify-content: center;
  }
  &.center{
    justify-content: center;
  }
}
// end v1

.optech-hero {
  &-section2{
    z-index: 0;
    position: relative;
    padding: 300px 0 220px;
    @include max(991px) {
      padding: 220px 0 100px;
    }
    @include max(767px) {
      padding: 200px 0 100px;
    }
    &:before {
      content: " ";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      position: absolute;
      background: rgba(1, 3, 16, 0.5);
    }

  }
  &-power{
    margin-bottom: 20px;
  }
}

// end v2

.optech-hero {
  &-section3{
    padding: 280px 0 130px;
    @include max(991px) {
      padding: 220px 0 100px;
    }
    @include max(767px) {
      padding: 200px 0 100px;
    }
  }
  &-thumb3{
    padding: 100px 0;
    @include max(991px) {
      padding: 80px 0;
    }
  }
}
// End v3

.optech-hero-section4{
  padding: 180px 0 0;
  position: relative;
  @include max(991px) {
    padding: 200px 0 0;
  }

 
}
// end v4

.optech-hero {
  &-section5{
    z-index: 0;
    position: relative;
    padding: 280px 0 150px;
    background-size: cover;
    background-position: top center;
    @include max(1199px) {
      padding: 230px 0 130px;
    }
    @include max(991px) {
      padding: 200px 0 100px;
    }
    @include max(767px) {
      padding: 170px 0 80px;
    }
    @include max(575px) {
      padding: 150px 0 80px;
    }
    &::before{
      content: "";
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(25.98deg, #2B4DFF 19.51%, rgba(43, 77, 255, 0) 93.51%);

    }
   
  }
  &-form {
    padding: 30px;
    border-radius: 18px;
    background-color: var(--white-bg);
    @include max(991px) {
      margin-top: 60px;
    }
    h4{
      margin-bottom: 5px;
    }
  }
 
}
#optech-hero-form-btn{
  width: 100%;
  display: block;
  text-align: center;
}
// End v5
.optech-hero-section6{
  margin-top: 144px;
  @include max(991px) {
    margin-top: 0;
  }
}
.optech-hero-slider {
  &-item{
    z-index: 0;
    opacity: 1!important;
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    position: relative;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    @include max(991px) {
      padding: 300px 0 150px;
    }
    @include max(767px) {
      padding: 250px 0 150px;
    }
    &::before{
      content: "";
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: cover;
      background-image: url(../images/hero/overlay.png);
    }
  }
  
}

.optech-hero-slider .optech-hero-next, 
.optech-hero-slider .optech-hero-prev {
  width: 60px;
  height: 60px;
  left: 60px;
  top: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .4s;
  border-radius: 6px;
  transform: translateY(-50%);
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  &:hover{
    color: var(--accent-color);
    background-color: var(--white-bg);
  }
  @include max(767px) {
    display: none!important;
  }
  i{
    font-size: 22px;
  }
}

.optech-hero-slider .optech-hero-prev {
  left: auto;
  right: 60px;
}
.optech-hero-slider .slick-slide {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
}
[data-animation-in] {
  opacity: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-transition: opacity 0.5s ease 0.3s;
  transition: opacity 0.5s ease 0.3s;
}
.tungo-hero-content .animated {
  transition: all 0.5s ease;
}

.slider-custom-anim-left.slider-animated {
  --animation-name: custom-anim-left;
}

.slider-custom-anim-left{
  opacity: 0;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-name: var(--animation-name);
}

.slider-animated {
  opacity: 1;
}

.custom-anim-left {
  animation: custom-anim-left 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

@keyframes custom-anim-left {
  0% {
    transform: translateX(-5%);
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

/* /////////// IMAGE ZOOM /////////// */
@-webkit-keyframes zoomInImage {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
@keyframes zoomInImage {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
.zoomInImage {
  -webkit-animation-name: zoomInImage;
  animation-name: zoomInImage;
}


// End v6

.optech-hero {
  &-section7{
    z-index: 0;
    position: relative;
    padding: 320px 0 240px;
    background-size: cover;
    background-position: top center;
    @include max(1199px) {
      padding: 300px 0 130px;
    }
    @include max(991px) {
      padding: 200px 0 100px;
    }


   
  }
}

// End v7

.optech-hero {
  &-section8{
    padding: 270px 0 214px;
    @include max(991px) {
      padding: 200px 0 100px;
    }


  }
  
}
// End v8


