.tecspark-shape1 {
  position: absolute;
  top: 30px;
  right: -82px;
  z-index: -1;
}

.tecspark-shape2 {
  position: absolute;
  bottom: -92px;
  left: 165px;
  z-index: -1;
}


.tecspark-shape3 {
  position: absolute;
  top: 55px;
  left: -127px;
  z-index: -1;
}

.tecspark-shape4 {
  position: absolute;
  bottom: -92px;
  left: 214px;
  z-index: -1;
}

.tecspark-shape5 {
  position: absolute;
  top: 70px;
  left: -83px;
  z-index: -1;
}