.optech-progress-item{
  margin-bottom: 24px;
  &:last-child{
    margin-bottom: 0;
  }
}


.progress-title-holder {
  position: relative;
  text-align: left;
}
.progress-bar{
  overflow: hidden;
  transition: width 5s ease;
  background-color: transparent;
}
.progress-title {
  z-index: 100;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  line-height: 30px;
  padding: 0 0 10px;
  display: inline-block;
  position: relative;
  letter-spacing: -0.01em;
  color: var(--heading-color);
  background-color: var(--white-bg);
  &.bg-gray{
    background-color: var(--light-bg1);
  }
}

.progress-number-wrapper {
  width: 100%;
  z-index: 10;
}

.progress-number-mark {
  color: var(--heading-color);
  position: absolute;
  bottom: 12px;
  line-height: 1;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}


.progress-content-outter {
  height: 8px;
  border-radius: 2px;
  background-color: var(--light-bg2);
}

.progress-content {
  height: 8px;
  width: 0%;
  border-radius: 2px;
  background-color: var(--accent-bg);
}