.tecspark-social-icon-box{
  ul{
    li{
      margin-right: 6px;
      display: inline-block;
      &:last-child{
        margin-right: 0;
      }
      a{
        width: 44px;
        height: 44px;
        display: flex;
        font-size: 18px;
        border-radius: 6px;
        align-items: center;
        transition: all 0.4s;
        justify-content: center;
        color: var(--white-color);
        background: #1E2656;
        &:hover{
          color: var(--white-color);
          background: var(--accent-bg);
        }
        i{
          font-size: 20px;
        }
      }
    }
  }
  &.style-two{
    ul{
      li{
        a{
          color: var(--heading-color);
          background-color: var(--light-bg2);
          &:hover{
            color: var(--white-color);
            background-color: var(--accent-bg);
          }
        }
      }
    }
  }
  &.style-three{
    ul{
      li{
        display: block;
        margin-right: 0;
        margin-bottom: 8px;
        a{
          color: var(--heading-color);
          background-color: var(--white-bg);
          &:hover{
            color: var(--white-color);
            background-color: var(--accent-bg);
          }
        }
      }
    }
  }
  &.right-align{
    text-align: right;
    @include max(991px) {
      text-align: center;
      margin-top: 20px;
    }
  }
  &.position{
    position: absolute;
    left: 0;
    top: 20px;
    opacity: 0;
    transition: all 0.6s;
  }
}