.tecspark-team{
  &-wrap{
    margin-bottom: 24px;
    border-radius: 18px;
    overflow: hidden;
    transition: all 0.4s;
    background-color: var(--white-bg);
    @include max(767px) {
      border-radius: 10px;
    }
    &:hover .tecspark-social-icon-box.position{
      opacity: 1;
      left: 20px;
    }
    &:hover .tecspark-team-thumb img{
      transform: scale(1.1);
    }
    &.border_all{
      border: 1px solid var(--light-color1);
      &:hover{
        border: 1px solid var(--white-color);
        box-shadow: 0px 12px 40px 4px rgba(10, 22, 94, 0.08);
      }
    }
  }
  &-thumb{
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.6s;
    }
  }
  &-data{
    padding: 24px;
    h5{
      margin-bottom: 5px;
    }
  }
}

// End team all

// start team details
.tecspark-team-single{
  &-wrap{
    margin-bottom: 80px;
    border: 1px solid #E7E7E8;
    @include max(991px) {
      margin-bottom: 60px;
    }
  }
  &-content{
    padding: 50px;
    @include max(1199px) {
      padding: 30px;
    }
    h2{
      margin-bottom: 10px;
    }
    span{
      font-weight: 600;
      display: block;
      margin-bottom: 24px;
      color: var(--accent-color);
    }
  }
}

.tecspark-team-form {
  max-width: 635px;
  margin: 0 auto;
  text-align: center;
  h2{
    margin-bottom: 10px;
  }
  p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}