.optech-t{
  &-box{
    padding: 35px;
    display: flex!important;
    gap: 35px;
    border-radius: 18px;
    background-color: var(--white-bg);
    @include max(991px) {
      padding: 30px;
      border-radius: 10px;
      gap: 20px;
    }
    @include max(575px) {
      display: block!important;
    }
  }
  &-quote{
    flex-shrink: 0;
    @include max(575px) {
      margin-bottom: 20px;
    }
  }
  &-data{
    p{
      font-size: 18px;
      margin-bottom: 28px;
      line-height: 32px;
    }
  }
  &-rating{
    margin-bottom: 8px;
    ul{
      line-height: 1;
      li{
        display: inline-block;
      }
    }
  }
  &-author{
    h5{
      margin-bottom: 2px;
    }
  }
}
// End v1

.optech-t{
  &-box2{
    text-align: center;
    padding: 0 100px;
    @include max(767px) {
      padding: 0;
    }
  }
  &-quote2{
    margin-bottom: 30px;
    img{
      margin: 0 auto;
    }
  }
  &-data2{
    p{
      font-size: 34px;
      line-height: 52px;
      color: var(--white-color);
      margin-bottom: 28px;
      letter-spacing: -0.03em;
      @include max(1199px) {
        font-size: 30px;
        line-height: 48px;
      }
      @include max(991px) {
        font-size: 24px;
        line-height: 40px;
      }
      @include max(767px) {
        font-size: 20px;
        line-height: 36px;
      }
    }
    h5{
      color: var(--white-color);
    }
    span{
      color: var(--light-color2);
    }
  }
  &-rating2{
    margin-bottom: 8px;
    ul{
      line-height: 1;
      li{
        display: inline-block;
      }
    }
  }
}



.optech-1column-slider .optech-t-next, 
.optech-1column-slider .optech-t-prev {
  width: 60px;
  height: 60px;
  left: 0;
  top: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .4s;
  border-radius: 6px;
  transform: translateY(-50%);
  color: var(--white-color);
  background-color: var(--dark-bg2);
  &:hover{
    color: var(--accent-color);
    background-color: var(--white-bg);
  }
  @include max(767px) {
    display: none!important;
  }
  i{
    font-size: 24px;
  }
}

.optech-1column-slider .optech-t-prev {
  left: auto;
  right: 0;
}

// End v3


.optech-t{
  &-box3{
    padding: 28px;
    margin-bottom: 24px;
    border-radius: 18px;
    border: 1px solid var(--light-color1);
    @include max(991px) {
      border-radius: 10px;
    }
  }
  
  &-data3{
    p{
      font-size: 18px;
      line-height: 32px;
    }
  }
  &-rating3{
    margin-bottom: 15px;
    ul{
      line-height: 1;
      li{
        display: inline-block;
      }
    }
  }
  &-footer{
    display: flex;
    align-items: center;
    margin-top: 35px;
    justify-content: space-between;
  }
}
// End v5