.tecspark-thumb{
  z-index: 0;
  position: relative;
  @include max(767px) {
    margin-bottom: 40px;
  }
  &-position {
    position: absolute;
    width: 64%;
    bottom: -100px;
    right: -90px;
    @include max(991px) {
      bottom: -75px;
      right: -34px;
      width: 40%;
    }
    @include max(767px) {
      display: none;
    }
  }
  &-position2 {
    position: absolute;
    width: 64%;
    bottom: -100px;
    left: -90px;
    @include max(991px) {
      bottom: -75px;
      right: -34px;
      width: 40%;
    }
    @include max(767px) {
      display: none;
    }
  }
  &-position3 {
    position: absolute;
    width: 64%;
    bottom: -100px;
    left: -120px;
    @include max(991px) {
      bottom: -75px;
      left: 0;
      width: 40%;
    }
    @include max(767px) {
      display: none;
    }
  }
}
.extra-mr{
  margin-right: 150px;
  @include max(1399px) {
    margin-right: 70px;
  }
  @include max(991px) {
    margin-right: 0px;
    margin-bottom: 115px;
  }
  @include max(767px) {
    margin-right: 0px;
    margin-bottom: 40px;
  }
}
.extra-ml{
  margin-left: 150px;
  @include max(1399px) {
    margin-left: 70px;
  }
  @include max(991px) {
    margin-left: 0px;
    margin-bottom: 115px;
  }
  @include max(767px) {
    margin-left: 0px;
    margin-bottom: 40px;
  }
}

.extra-ml2{
  margin-left: 125px;
  @include max(1399px) {
    margin-left: 70px;
  }
  @include max(991px) {
    margin-left: 0px;
    margin-bottom: 115px;
  }
  @include max(767px) {
    margin-left: 0px;
    margin-bottom: 40px;
  }
}

// End thumb v1
