


/* top scroll */
  .progress-wrap {
	position: fixed;
	right: 30px;
	bottom: 30px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.04);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}




.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: #0D0E1D; /* --- Lijn progres kleur --- */
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.top-arrow {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	line-height: 1px;
	i{
		font-size: 36px;
		color: var(--heading-color);
	}
}
