
.tecspark-footer{
  &-textarea{
    @include max(1199px) {
      max-width: 400px;
      margin-bottom: 40px;
    }
    img{
      margin-bottom: 30px;
    }
    p{
      line-height: 30px;
      margin-bottom: 28px;
      color: var(--light-color2);
    }
    &.dark-color{
      p{
        color: var(--body-color);
      }
    }
  }
  &-title{
    h5{
      margin-bottom: 20px;
     color: var(--white-color);
    }
    p{
      color: var(--light-color2);
    }
    &.dark-color{
      h5, p{
        color: var(--body-color);
      }
    }
  }
  &-menu{
    @include max(767px) {
      margin-bottom: 40px;
    }
    ul{
      li{
        margin-bottom: 12px;
        &:last-child{
          margin-bottom: 0;
        }
        a{
          color: var(--light-color2);
          position: relative;
          &:before{
            content: "";
            position: absolute;
            bottom: -3px;
            left: auto;
            right: 0;
            height: 1px;
            width: 0;
            background-color: var(--light-color2);
            transition: all .3s ease;
          }
          &:hover:before{
            left: 0;
            right: auto;
            width: 100%;
          }
        }
      }
    }
    &.dark-color{
      ul{
        li{
    
          a{
            color: var(--body-color);
            &:before{
              background: var(--body-color);
            }
         
          }
        }
      }
    }
  }
}

.tecspark-footer-bottom{
  padding: 30px 0;
  border-top: 1px solid rgba(206, 208, 223, 0.2);
  @include max(991px) {
    padding: 25px 0;
    text-align: center;
  }
  &.center{
    text-align: center;
  }
  &.one{
    border-top: 1px solid var(--light-color1);
  }
  
}


.tecspark-copywright{
  width: 100%;
   p{
    line-height: 30px;
    color: var(--light-color2);
   }
   &.dark-color{
    p{
      color: var(--body-color);
    }
  }
}

