<!-- Footer  -->

<footer class="optech-footer-section footer-v5">
  <div class="optech-footer-form-section">
    <div class="container">
      <div class="optech-footer-form-wrap">
        <div class="row">
          <div class="col-lg-7">
            <div class="optech-footer-form">
              <h4>Fill The Contact Form</h4>
              <p>Get Free Consultation For IT Solutions</p>
              <form action="#">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="optech-main-field">
                      <input type="text" placeholder="Your name">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="optech-main-field">
                      <input type="number" placeholder="Phone number">
                    </div>
                  </div>
                </div>
                
                <div class="optech-main-field">
                  <input type="email" placeholder="Email address">
                </div>
                <div class="optech-main-field">
                  <textarea name="textarea" placeholder="Write your message"></textarea>
                </div>
                <button id="optech-main-form-btn" type="button" data-text="Send Message"> <span class="btn-wraper">Send Message</span> </button>
              </form>
            </div>
          </div>
          <div class="col-lg-5">
            <div id="map"></div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="optech-footer-top optech-section-padding">
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <div class="optech-footer-textarea light-color">
            <a href="index.html">
              <img src="assets/images/logo/logo-white.svg" alt="">
            </a>
            <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few</p>
            <div class="optech-social-icon-box">
              <ul>
                <li>
                  <a href="https://www.facebook.com/">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-md-4">
          <div class="optech-footer-menu">
            <div class="optech-footer-title">
              <h5>Quick Links</h5>
            </div>
            <ul>
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="team.html">Our Team</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="blog.html">Blogs</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-5">
          <div class="optech-footer-menu">
            <div class="optech-footer-title">
              <h5>Services</h5>
            </div>
            <ul>
              <li><a href="">UI/UX Design</a></li>
              <li><a href="">App Development</a></li>
              <li><a href="">Digital Marketing</a></li>
              <li><a href="">Web Development</a></li>
              <li><a href="">Cyber Security</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-3">
          <div class="optech-footer-menu mb-0">
            <div class="optech-footer-title">
              <h5>Information</h5>
            </div>
            <ul>
              <li><a href="">Working Process</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Terms & Conditions</a></li>
              <li><a href="">Faqs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="optech-footer-bottom center">
        <div class="optech-copywright">
          <p>  Copyright © 2024 MirrorTheme. All rights reserved.</p>
        </div>
    </div>
  </div>
</footer>