<!-- Footer  -->

<footer class="optech-footer-section optech-section-padding-top">
  <div class="container">
    <div class="optech-infobox-wrap extra-padding">
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <a href="tel:123">
            <div class="optech-infobox-item light-color">
              <div class="optech-infobox-icon">
                <i class="ri-phone-fill"></i>
              </div>
              <div class="optech-infobox-data">
                <p>Call anytime</p>
                <h5>518-564-3200</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-md-6">
          <a href="mailto:name@email.com">
            <div class="optech-infobox-item light-color">
              <div class="optech-infobox-icon">
                <i class="ri-mail-fill"></i>
              </div>
              <div class="optech-infobox-data">
                <p>Email address</p>
                <h5>tachup@example.com</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="optech-infobox-item light-color">
            <div class="optech-infobox-icon">
              <i class="ri-time-fill"></i>
            </div>
            <div class="optech-infobox-data">
              <p>Office Hours</p>
              <h5>8:00 AM – 10:00 PM</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="optech-footer-top optech-section-padding-bottom">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-3">
          <div class="optech-footer-menu dark-color">
            <div class="optech-footer-title dark-color">
              <h5>Quick Links</h5>
            </div>
            <ul>
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="team.html">Our Team</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="blog.html">Blogs</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-5">
          <div class="optech-footer-menu dark-color ml30">
            <div class="optech-footer-title dark-color">
              <h5>Services</h5>
            </div>
            <ul>
              <li><a href="">UI/UX Design</a></li>
              <li><a href="">App Development</a></li>
              <li><a href="">Digital Marketing</a></li>
              <li><a href="">Web Development</a></li>
              <li><a href="">Cyber Security</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4">
          <div class="optech-footer-menu dark-color">
            <div class="optech-footer-title dark-color">
              <h5>Information</h5>
            </div>
            <ul>
              <li><a href="">Working Process</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Terms & Conditions</a></li>
              <li><a href="faq.html">Faqs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="optech-subscription-column">
            <div class="optech-footer-title dark-color">
              <h5>Subscribe Our Newsletter</h5>
              <p>Get ready to work together for the better solution for your business</p>
            </div>
            <div class="optech-subscription">
              <form action="#">
                <input type="email" placeholder="Enter your email">
                <button id="optech-subscription-btn" type="button" data-text="Subscribe">
                  <span class="btn-wraper">Subscribe</span>
                </button>
               </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="optech-footer-bottom">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <div class="optech-copywright dark-color">
            <p> Copyright © 2024 MirrorTheme. All rights reserved.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="optech-social-icon-box right-align style-two">
            <ul>
              <li>
                <a href="https://www.facebook.com/">
                  <i class="ri-facebook-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/">
                  <i class="ri-linkedin-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/">
                  <i class="ri-twitter-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/">
                  <i class="ri-instagram-fill"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>