<!-- Footer  -->

<footer class="optech-footer-section bg-light1">
  <div class="container">
    <div class="optech-footer-top optech-section-padding">
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <div class="optech-footer-textarea dark-color">
            <a href="index.html">
              <img src="assets/images/logo/logo-dark.svg" alt="">
            </a>
            <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few</p>
            <div class="optech-footer-info dark-color">
              <ul>
                <li><a href="tel:123"><i class="ri-phone-fill"></i>518-564-3200</a></li>
                <li><a href="mailto:name@email.com"><i class="ri-mail-fill"></i>mthemeus@example.com</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-md-4">
          <div class="optech-footer-menu dark-color">
            <div class="optech-footer-title dark-color">
              <h5>Quick Links</h5>
            </div>
            <ul>
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="team.html">Our Team</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="blog.html">Blogs</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-5">
          <div class="optech-footer-menu dark-color">
            <div class="optech-footer-title dark-color">
              <h5>Services</h5>
            </div>
            <ul>
              <li><a href="">UI/UX Design</a></li>
              <li><a href="">App Development</a></li>
              <li><a href="">Digital Marketing</a></li>
              <li><a href="">Web Development</a></li>
              <li><a href="">Cyber Security</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-3">
          <div class="optech-footer-menu dark-color mb-0">
            <div class="optech-footer-title dark-color">
              <h5>Information</h5>
            </div>
            <ul>
              <li><a href="">Working Process</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Terms & Conditions</a></li>
              <li><a href="">Faqs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="optech-footer-bottom center one">
        <div class="optech-copywright dark-color">
          <p>  Copyright © 2024 MirrorTheme. All rights reserved.</p>
        </div>
    </div>
  </div>
</footer>