<!-- Footer  -->

<footer class="tecspark-footer-section">
  <div class="container">
    <div class="tecspark-footer-top tecspark-section-padding">
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <div class="tecspark-footer-textarea dark-color">
            <a href="index.html">
              <img src="assets/images/logo/logo-dark.svg" alt="">
            </a>
            <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few</p>
            <div class="tecspark-social-icon-box style-two">
              <ul>
                <li>
                  <a href="https://www.facebook.com/">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-md-4">
          <div class="tecspark-footer-menu dark-color">
            <div class="tecspark-footer-title dark-color">
              <h5>Quick Links</h5>
            </div>
            <ul>
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="team.html">Our Team</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="blog.html">Blogs</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-5">
          <div class="tecspark-footer-menu dark-color ml30">
            <div class="tecspark-footer-title dark-color">
              <h5>Services</h5>
            </div>
            <ul>
              <li><a href="">UI/UX Design</a></li>
              <li><a href="">App Development</a></li>
              <li><a href="">Digital Marketing</a></li>
              <li><a href="">Web Development</a></li>
              <li><a href="">Cyber Security</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-3">
          <div class="tecspark-footer-menu dark-color mb-0">
            <div class="tecspark-footer-title dark-color">
              <h5>Information</h5>
            </div>
            <ul>
              <li><a href="">Working Process</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Terms & Conditions</a></li>
              <li><a href="">Faqs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tecspark-footer-bottom center one">
        <div class="tecspark-copywright dark-color">
          <p>  Copyright © 2024 MirrorTheme. All rights reserved.</p>
        </div>
    </div>
  </div>
</footer>